<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout2}">
    <head>
        <title>Forgot Password | Local Search</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/static/css/pages/login.css}" type="text/css" />
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Form Login -->      
            <div class="table-struct full-width full-height">
                <div id="divForgotPasswordWaiting"></div>
                <div class="table-cell vertical-align-middle">
                    <div class="login-form">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="sp-logo-wrap text-center pa--0 mb--20">
                                    <a th:href="@{/dashboard}">
                                        <span class="brand-text">
                                            <img class="logo_brand" th:src="@{/static/img/brand-black.svg}" src="" alt="brand"/>
                                        </span>
                                    </a>
                                </div>
                                <div class="mb--30">
                                    <h4 class="text-center txt--dark" th:text="${language.get('lb_forgot_password')?:'Forgot password'}"></h4>
                                    <p class="text-center txt--grey nonecase--font pt--10" th:text="${language.get('lb_enter_your_email')?:'Enter your email to reset new password.'}"></p>
                                </div>
                                <div class="form-wrap">
                                    <form id="frm_forgot_password" th:attr="action=@{/send-forgot-password}" method="post">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                        <div class="form-group">
                                            <label class="control-label mb--10" for="txt_email_forget" th:text="${language.get('lb_email_address')?:'Email address'}"></label>
                                            <input type="email" class="form-control" id="txt_email_forget" name="emailForgot" th:placeholder="${language.get('lb_enter_email')?:'Enter email'}" />
                                        </div>
                                        <div class="form-group text-center flex">
                                            <a th:href="@{/login}" class="btn btn--default half-width mr--10" th:text="${language.get('lb_login')?:'Login'}"></a>
                                            <button type="submit" class="btn btn--navyblue half-width" th:text="${language.get('lb_reset')?:'Reset'}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Form Login -->
        </div>
    </body>
    <th:block layout:fragment="scripts">
        <script th:src="@{'/static/plugins/jquery.validate/localization/validate-' + ${languageCookie} + '.js'}" src=""></script>

        <script>
            $(document).ready(function () {
                $("#frm_forgot_password").validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'txt--error font--12 mt--5', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        "emailForgot": {
                            required: true,
                            email: true
                        }
                    },
                    highlight: function (element) { // hightlight error inputs
                        $(element).closest('.form-group').addClass('has--error'); // set error class to the control group
                    },
                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element).closest('.form-group').removeClass('has--error'); // set error class to the control group
                    },
                    success: function (label) {
                        label.closest('.form-group').removeClass('has--error'); // set success class to the control group
                    },
                    submitHandler: function (e) {
                        showWait("#divForgotPasswordWaiting");
                        e.preventDefault();
                        return true;
                    }
                });
            });
        </script>

        <th:block th:if="${error != null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_error')?:'An error has occurred! Please contact us for help.'}]]", "error");
            </script>
        </th:block>

        <th:block th:if="${success != null}">
            <script>
                showAlert("[[${language.get('lb_alert_success')?:'Successful!'}]]", "[[${language.get('lb_success')?:'A verification link has been sent to your email! Please click on it to continue the process.'}]]", "success");
            </script>
        </th:block>

        <th:block th:if="${errorWrongEmail != null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_wrong_email')?:'Wrong email format! Please try again.'}]]", "error");
            </script>
        </th:block>

        <th:block th:if="${errorEmailNotExist != null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_email_not_exist')?:'Your email is not exist! Please try another one.'}]]", "error");
            </script>
        </th:block>
    </th:block>
</html>
