<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout2}">
    <head>
        <title>Login | Local Search</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/static/css/pages/login.css}" type="text/css" />
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Form Login -->      
            <div class="table-struct full-width full-height">
                <div id="divLoginWaiting"></div>
                <div class="table-cell vertical-align-middle">
                    <div class="login-form">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="sp-logo-wrap text-center pa--0 mb--20">
                                    <a th:href="@{/dashboard}">
                                        <span class="brand-text">
                                            <img class="logo_brand" th:src="@{/static/img/brand-black.svg}" src="" alt="brand" />
                                        </span>
                                    </a>
                                </div>
                                <div class="mb--30">
                                    <h4 class="text-center txt--dark" th:utext="${language.get('lb_login')?:'Login Admin'}"></h4>
                                </div>
                                <div class="form-wrap">
                                    <form id="frm_login" th:attr="action=@{/check-login}" method="post">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                        <div class="form-group">
                                            <label class="control-label mb--10" th:text="${language.get('lb_email_address')?:'Email address'}"></label> 
                                            <input tabindex="1" type="email" name="email" id="email" class="form-control" th:placeholder="${language.get('lb_enter_email')?:'Enter email'}" th:attrappend="value=${email != null} ? ${email}" />
                                        </div>
                                        <div class="form-group">
                                            <label class="pull-left control-label mb--10" th:text="${language.get('lb_password')?:'Password'}"></label> 
                                            <a class="capitalize--font block mb--10 pull-right font--14 txt--blue" th:href="@{/forgot-password}" th:text="${language.get('lb_forgot_password')?:'Forgot password'}"></a> 
                                            <div class="clearfix"></div>
                                            <input tabindex="2" type="password" name="secretKey" class="form-control" th:placeholder="${language.get('lb_enter_password')?:'Enter password'}" />
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox checkbox-primary pr--10 pull-left">
                                                <input id="checkbox_2" type="checkbox"/>
                                                <label for="checkbox_2" th:text="${language.get('lb_keep_me_logged_in')?:'Keep me logged in'}"></label> 
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn--navyblue half-width" th:text="${language.get('lb_login')?:'Login'}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:if="${notActive != null}">
                <form id="frmResendActiveEmail" th:attr="action=@{/resend-active-email}" method="post"> 
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="redirect" id="redirect"/>
                </form>
            </th:block>
            <form id="frmLoginByGoogle" th:attr="action=@{/login-by-third-party}" method = "POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" id="txtThirdParty" name="thirdParty" value="google"/>
            </form>
        </div>
    </body>
    <th:block layout:fragment="scripts">
        <script th:src="@{'/static/plugins/jquery.validate/localization/validate-' + ${languageCookie} + '.js'}" src=""></script>
        <th:block th:if="${notYet != null}">
            <script>
                showAlert("[[${language.get('lb_alert_warning')?:'Warning!'}]]", "[[${language.get('lb_notYet')?:'Your account has not been used yet. Please log in when this account is timed to be used.'}]]", "warning");
            </script>
        </th:block>
        <th:block th:if="${notPermission != null}">
            <script>
                showAlert("[[${language.get('lb_alert_warning')?:'Warning!'}]]", "[[${language.get('lb_not_permission')?:'Your account is not admin.Please contact us for more information.'}]]", "warning");
            </script>
        </th:block>
        <th:block th:if="${blocked != null}">
            <script>
                showAlert("[[${language.get('lb_alert_warning')?:'Warning!'}]]", "[[${language.get('lb_blocked')?:'Your account is not active! Please contact us for more information.'}]]", "warning");
            </script>
        </th:block>
        <th:block th:if="${notActive != null}">
            <script>
                swal({
                    title: "[[${language.get('lb_alert_warning')?:'Warning!'}]]",
                    text: "[[${language.get('lb_not_active')?:'Your account is unverified! Please check your email to active your account.'}]]",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#f83f37",
                    confirmButtonText: "[[${language.get('lb_button_resend_mail')?:'Resend email'}]]",
                    cancelButtonText: "[[${language.get('lb_button_close')?:'Close'}]]",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    $(".sweet-overlay, .sweet-alert").remove(); //HACK: use another close method
                    if (isConfirm) {
                        $("#redirect").val("login");
                        $("#frmResendActiveEmail").submit();
                    }
                });
            </script>
        </th:block>
        <th:block th:if="${resendSuccess != null}">
            <script>
                showAlert("[[${language.get('lb_alert_success')?:'Successful!'}]]", "[[${language.get('lb_alert_resend_succsess')?:'Activation mail has been sent! Please check your inbox.'}]]", "success");
            </script> 
        </th:block>
        <th:block th:if="${resendError != null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_alert_resend_error')?:'An error has occurred! Please contact us for help.'}]]", "error");
            </script> 
        </th:block>
        <th:block th:if="${wrongAccount != null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_wrong_account')?:'Wrong email or password! Please try again.'}]]", "error");
            </script>
        </th:block>
        <th:block th:if="${error != null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_login_thirdparty_error')?:'An error has occurred! Please contact us for help.'}]]", "error");
            </script>
        </th:block>
        <th:block th:if="${emailEmpty != null}">
            <script>
                showAlert("[[${language.get('lb_alert_warning')?:'Warning!'}]]", "[[${language.get('lb_alert_fb_error')?:'Your account cannot use this feature. Please register in the normal way.'}]]", "warning");
            </script>
        </th:block>
        <script>
            $(document).ready(function () {
                $("#frm_login").validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'txt--error font--12 mt--5', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        "email": {
                            required: true,
                            email: true
                        },
                        "secretKey": {
                            required: true
                        }
                    },
                    highlight: function (element) { // hightlight error inputs
                        $(element).closest('.form-group').addClass('has--error'); // set error class to the control group
                    },
                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element).closest('.form-group').removeClass('has--error'); // set error class to the control group
                    },
                    success: function (label) {
                        label.closest('.form-group').removeClass('has--error'); // set success class to the control group
                    },
                    submitHandler: function () {
                        showWait("#divLoginWaiting");
                        return true;
                    }
                });
            });
            var loginBy = function (thirdParty) {
                $("#txtThirdParty").val(thirdParty);
                $("#frmLoginByGoogle").submit();
            };
        </script>
    </th:block>
</html>
