/* 
    Created on : Jul 9, 2019, 2:49:06 PM
    Author     : Nguyen Viet Diem
*/
/*Agencies page*/
.agencies{
    width: 100%;
    padding-left: 15px;
    margin-bottom: 15px;
}
.btn--agencies {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
}
.logo__agencies {
    border: 1px solid #efefef;
    padding:2px;
    text-align: center;
    display: table;
}
.agencies .note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"] {
    background-color: #fafafa;
}
.logo__agencies span{
    vertical-align:middle;
    display: table-cell;
}
.logo__agencies img {
    max-width: 234px; 
    max-height: 60px;
}
.icheck-inline{
    background: #f5f0f0;
    padding:2px 15px;
    border-radius: 20px;
}
.agencies ul, .agencies ol { 
    display: block;
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 40px;
}
.agencies ol { 
    list-style-type: decimal;
}