/* 
    Created on : Jul 15, 2019, 1:41:56 PM
    Author     : NGUYEN THANH HUY
*/
/*=============================================
=            FORMAT DATATABLE BILLING            =
=============================================*/
table.dataTable.hover tbody tr:hover, 
table.dataTable.display tbody tr:hover{
    background-color: transparent!important;
}
table.dataTable.stripe tbody tr.odd, 
table.dataTable.display tbody tr.odd{
    background-color: transparent!important; 
}
