/* 
    Created on : Jul 9, 2019, 3:32:35 PM
    Author     : Nguyen Thanh Huy
*/
/*=============================================
=           LANGUAGE PAGES            =
=============================================*/

.language-box {
    overflow: visible;
}
.language-box button.btn.dropdown-toggle.btn-default {
    background: #fff;
    border: 1px solid #ddd;
    padding-left: 10px;
}


