/* 
    Created on : Jul 8, 2019, 5:05:26 PM
    Author     : Nguyen Thanh Huy
*/
/*=============================================
=            Login CSS         =
=============================================*/
.logo_brand {
    width: 320px;
    height: 36px;
}
.login-form {
    width: 400px;
    margin: 0 auto;
}
.login-social__label {
    margin: 30px 0 20px;
    position: relative;
    color: #b7c9cc;
    text-align: center;
}
.login-social__label:before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid #b7c9cc;
    top: 50%;
    left: 0;
}
.login-social__label--text {
    background: #fff;
    padding: 0 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.login-social__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-social__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e7eeef;
    max-width: calc(100%/4);
}
.login-social__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-social__item .login-social__icon {
    width: 44px;
    height: 44px;
}
.login-social__item:last-child {
    border-right: 0;
}




