/* 
    Created on : Jul 8, 2019, 4:47:51 PM
    Author     : Nguyen Viet Diem
*/
/*=============================================
                = Notification manager =
=============================================*/
.tooltip-inner {
    white-space: normal;
    text-align: left;
}

/*=============================================
                = Notifications =
=============================================*/
.notification-tab .nav-tabs {
    border-bottom: 0;
}
.notification-tab .nav-tabs>li {
    float: none;
    display: block;
}
.notification-tab .nav-tabs>li.active>a,
.notification-tab .nav-tabs>li.active>a:focus,
.notification-tab .nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover {
    border: 1px solid transparent;
    background: #fafafa;
    color: #448aff;
    border-radius: 0;
}
.notifications--number {
    float: right;
}
.notification-post .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    border-color: #e1e4e8;
}
.notification-post .panel-group .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    padding: 5px 10px;
    position: relative;
}
.notification-post .panel .panel-heading a {
    position: relative;
    font-size: 15px;
    display: block;
}
.notification-post .panel-group .panel+.panel {
    margin-top: -1px;
}
.notification-post .no-read {
    font-weight: bold;
}
.notification-post .panel-default>.panel-heading+.panel-collapse>.panel-body {
    padding: 15px;
}
.notification-post .panel-group {
    margin-bottom: 0;
}
.checkbox__post {
    position: absolute;
    top: -8px;
    right: 20px;
}
.title-notif{
    padding-right: 15px;
}
.info-notif{
    flex: 1;
    padding-right: 15px;
}
.date-notif{
    flex: 0 0 140px;
}
.card-notifications ul { 
    list-style-type: disc; 
    list-style-position: outside; 
    margin-left: 15px;
}

.card-notifications ol { 
    list-style-type: decimal; 
    list-style-position: outside; 
    margin-left: 15px;
}
.card-notifications ul ul, .card-notifications ol ul { 
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px; 
}
.card-notifications ol ol, .card-notifications ul ol { 
    list-style-type: lower-latin; 
    list-style-position: inside; 
    margin-left: 15px; 
}

/*=============================================
                = Notifications Review=
=============================================*/
.notificationReview--title {
    background-color: transparent;
    padding: 5px 10px;
    position: relative;
    border: 1px solid #e1e4e8;
}
.notificationReview--content {
    padding: 5px 10px;
    border: 1px solid #e1e4e8;
    border-top: 0;  
    overflow-x: auto;
}
/*=============================================
                = Notifications Edit =
=============================================*/
.multi-select-box button.btn.dropdown-toggle.btn-default {
    border-right: 1px solid rgba(33, 33, 33, 0.12);
    padding-right: 10px;
    padding-left: 10px;
    min-width: 300px;
    text-align: left;
}
.multi-select-box button.btn.dropdown-toggle.btn-default:focus {
    border-color: rgba(33, 33, 33, 0.3);
}
.multi-select-box .multiselect-container {
    min-height: 300px;
    min-width: 300px;
    overflow-y: auto;
    bottom: 100%;
    top: auto;
}
.multi-select-box .btn .caret {
    position: absolute;
    right: 10px;
    top: 18px;
}
.multi-select-box .checkbox input[type="checkbox"] {
    opacity: 1;
}
.multi-select-box .dropdown-menu>.active>a,
.multi-select-box .dropdown-menu>.active>a,
.multi-select-box .dropdown-menu>.active>a:focus,
.multi-select-box .dropdown-menu>.active>a:hover {
    background: #ffffff;
    color: #000;
}
.multi-select-box .checkbox input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    border: 1px solid #cccccc;
    border-radius: 0;
    background-color: white;
}
.multi-select-box .checkbox input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
.show-permistion {
    max-height: 500px;
    overflow-y: auto;
}
.show-permistion li {
    float: left;
    width: 50%;
    padding: 0 15px;
}
.multi-select-box .fs-wrap {
    display: block;
}
.multi-select-box .fs-dropdown {
    width: 92%;
    bottom: 35px;
}