<!DOCTYPE html>
<html th:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Layout Page</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="robots" content="noindex,nofollow,noarchive" />
        <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-select/bootstrap-select.css}" href="" type="text/css" />
        <link rel="stylesheet" th:href="@{/static/css/component.css}" href="" type="text/css" />
        <link rel="stylesheet" th:href="@{/static/css/template.css}" href="" type="text/css" />
        <link rel="stylesheet" th:href="@{/static/plugins/sweet-alert/sweetalert.css}" href="" type="text/css" />
        <th:block layout:fragment="css" th:remove="all"></th:block>
        <link rel="stylesheet" th:href="@{/static/css/custom.css}" type="text/css" />
    </head>
    <body class="box-layout">
        <div class="wrapper horizontal-nav">
            <!-- Header -->
            <div th:replace="components/header.html :: #dev_header"></div>
            <!-- /Header -->

            <!-- Sidebar -->
            <div th:replace="components/sidebar.html :: #div_sitebar"></div>
            <!-- /Sidebar -->

            <div class="page-wrapper">
                <div class="container pt-10">
                    
                    <!-- Main Content -->
                    <div layout:fragment="content">
                    </div>
                    <!-- /Main Content -->
                </div>
            </div>

        </div>
        
        <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/init.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/plugins/jquery/validate/jquery.validate.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/plugins/sweet-alert/sweetalert.min.js}"></script>
        <th:block layout:fragment="scripts"></th:block>
    </body>
</html>
