<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
    <head>
        <title>Agency Detail | Local Search</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/static/css/pages/agency.css}" type="text/css" />
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Component page -->
            <div class="row bheading-title">
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/dashboard}" th:text="${language.get('lb_dashboard')?:'Dashboard'}"></a></li>
                        <li><a th:href="@{/agency-approve}" th:text="${language.get('lb_agency_manage_upgrade')?:'Agency Approve'}"></a></li>
                        <li class="active"><span th:text="${language.get('lb_agency_detail')?:'Agency Detail'}"></span></li>
                    </ol> 
                </div>
                <!-- /Breadcrumb -->
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 text-right">
                    <h5 class="txt--dark" th:text="${language.get('lb_agency_detail')?:'Agency Detail'}"></h5>
                </div>
            </div>
            <!-- End component page -->

            <!-- Content body -->
            <div class="row" id="divDetailAgency">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default border-panel card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="agencies__box clearfix relative">
                                    <div class="agencies agencies__bg--summernote">
                                        <div class="clearfix">
                                            <div class="flex mb--20 pull-left">
                                                <div class="logo__agencies mr--20">
                                                    <th:block th:if="${agencyDTO.logoAgency != 'unknown'}">
                                                        <img th:src="${agencyDTO.logoAgency}" alt="brand" />
                                                    </th:block>
                                                    <th:block th:if="${agencyDTO.logoAgency == 'unknown'}">
                                                        <img th:src="@{/static/img/no-logo.png}" alt="brand" />
                                                    </th:block>
                                                </div>
                                                <div>
                                                    <h6 class="font--14 weight--300"><span th:text="${language.get('lb_website')?:'Webiste:'}"></span> <mark th:text="${agencyDTO.urlAgency}"></mark></h6>
                                                    <h6 class="font--14 weight--300"><span th:text="${language.get('lb_company')?:'Company:'}"></span> <mark th:text="${agencyDTO.companyAgency}"></mark></h6>
                                                    <h6 class="font--14 weight--300"><span>Status</span>: <b class="txt--danger">Assign</b></h6>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <th:block th:if="${agencyDTO.isStatus == 1}">
                                                    <a href="#" class="btn btn--icon btn--xs btn--success"><i class="fa fa-check" aria-hidden="true"></i> Approve</a>
                                                    <a href="#" class="btn btn--icon btn--xs btn--danger"><i class="fa fa-times" aria-hidden="true"></i> Deny</a>
                                                </th:block>
                                                <th:block th:if="${agencyDTO.isStatus == 4}">
                                                    <a href="#" class="btn btn--icon btn--xs btn--danger"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
                                                </th:block>
                                            </div>
                                        </div>
                                        <h5 class="mb--10" th:text="${language.get('lb_description')?:'Description:'}"></h5>
                                        <div class="clearfix border pa--10">
                                            <span th:if='${agencyDTO.descriptionAgency!=null}' th:utext='${agencyDTO.descriptionAgency}'></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End content body -->
        </div>
    </body>


</html>
