<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
    <head>
        <title>Notification Manager | Local Search</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/static/plugins/data-table/jquery.dataTables.min.css}"  type="text/css" />
            <link rel="stylesheet" th:href="@{/static/plugins/croppie/croppie.css}" type="text/css"/>
            <link rel="stylesheet" th:href="@{/static/css/pages/notification.css}"  type="text/css"/>
        </th:block>
    </head>
    <body>
        <div layout:fragment="content"> 
            <div class="row bheading-title">
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li>
                            <a th:href="@{/dashboard}" th:text="${language.get('lb_dashboard')?:'Dashboard'}"></a>
                        </li> 
                        <li class="active">
                            <span th:text="${language.get('lb_notification_manager')?:'Notification Manager'}"></span>
                        </li> 
                    </ol> 
                </div>
                <!-- /Breadcrumb -->
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 text-right">
                    <h5 class="txt--dark" th:text="${language.get('lb_notification_manager')?:'Notification Manager'}"></h5> 
                </div>
            </div>

            <div class="row">
                <div id="divBlockWaiting"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-staff ">
                    <div class="panel panel-default card-view border-panel ">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <button th:onclick="'window.location.href=\'' + @{/notification-making} + '\''" 
                                        class="btn btn--navyblue btn--xs"
                                        th:text="${language.get('lb_new_notification')?:'Add Notification'}"></button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <th:block th:if="${notificationList != null and not #lists.isEmpty(notificationList)}">
                                        <div id="divNotificationWaiting">
                                            <div class="loading-page">
                                                <div class="loading-center--absolute">
                                                    <div class="object object--one"></div>
                                                    <div class="object object--two"></div>
                                                    <div class="object object--three"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="tblNotification" class="table table-hover table-bordered display font--14" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th th:text="${language.get('lb_subject')?:'Subject'}"></th>
                                                    <th th:text="${language.get('lb_notification')?:'Notification'}"></th>
                                                    <th th:text="${language.get('lb_permission')?:'Permission'}"></th>
                                                    <th th:text="${language.get('lb_active')?:'Active'}"></th>
                                                    <th th:text="${language.get('lb_active_date')?:'Active Date'}"></th>
                                                    <th th:text="${language.get('lb_update_date')?:'Update Date'}"></th>
                                                    <th th:text="${language.get('lb_action')?:'Action'}"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="item : ${notificationList}">
                                                    <td class="tbl-truncate">
                                                        <div class="row--truncate" th:text="${item.subject}"></div>
                                                    </td>
                                                    <td class="tbl-truncate">
                                                        <div class="row--truncate" th:text="${item.tagRemovedNotification}"></div>
                                                    </td>

                                                    <th:block th:if="${item.permission == 'group'}">
                                                        <td th:text="${language.get('lb_tbody_group')?:'Group' + ':' + #lists.size(item.groupIds) + ' ' + language.get('lb_tbody_select')?:'selected'}"></td>
                                                    </th:block>

                                                    <th:block th:if="${item.permission != 'group'}">
                                                        <td th:text="${language.get('lb_tbody_package')?:'Package' + ':' + #lists.size(item.packageIds) + ' ' + language.get('lb_tbody_select')?:'selected'}"></td>
                                                    </th:block>

                                                    <td th:if="${item.activeDate != '' and !item.isActive}">
                                                        <a data-placement="left" data-tooltip="tooltip" 
                                                           th:attr="data-original-title=${language.get('lb_title_inactive_notifcation')?:'This notification is disabled and cant be actived anymore'}"
                                                           th:class="${item.isActive ? 'btn--disabled btn--disabledIcon btn btn--round bg--danger' : 'btn--disabled btn--disabledIcon btn btn--round bg--grey'}">
                                                            <i class="fa fa-question-circle"></i>
                                                        </a>
                                                    </td>

                                                    <td th:unless="${item.activeDate != '' and !item.isActive}">
                                                        <a th:onclick="changeActiveNotification([[${item.notificationId}]], [[${!item.isActive}]])" 
                                                           th:class="${item.isActive ? 'btn btn--round bg--danger' : 'btn btn--round bg--grey'}">
                                                            <span th:if="${item.isActive}" th:text="${language.get('lb_on')?:'On'}"></span>
                                                            <span th:if="${!item.isActive}" th:text="${language.get('lb_off')?:'Off'}"></span>
                                                        </a>
                                                    </td>

                                                    <td class="txt--right" th:utext="${#strings.replace(item.activeDate,' ','<br />')}"></td>
                                                    <td class="txt--right" th:utext="${#strings.replace(item.updatedDate,' ','<br />')}"></td>
                                                    <td class="text-center">
                                                        <th:block th:if="${item.activeDate == ''}">
                                                            <a  th:href="@{'/notification-making?notificationid=' + ${item.notificationId}}" 
                                                                class="btn btn__table btn--warning" data-placement="left" data-tooltip="tooltip" 
                                                                th:attr="data-original-title=${language.get('lb_action_edit')?:'Edit'}">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                            <a  th:onclick="showAlertDelete([[${language.get('lb_delete_title')?:'Delete Notification'}]],
                                                                'deleteNotification([[${item.notificationId}]])', 
                                                                [[${language.get('lb_delete_alert_content')?:'You can not recover it after delete successfully!'}]], 
                                                                [[${language.get('lb_yes')?:'Yes'}]], 
                                                                [[${language.get('lb_delete_alert_cancel')?:'Cancle'}]])"  
                                                                class="btn btn__table btn--danger" title="" data-placement="left" data-tooltip="tooltip" 
                                                                th:attr="data-original-title=${language.get('lb_action_delete')?:'Delete'}">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </th:block>

                                                        <th:block th:unless="${item.activeDate == ''}">
                                                            <a class="btn btn__table  btn--disabled" href="javasript:void()" >
                                                                <i class="fa fa-pencil" ></i>
                                                            </a>
                                                            <a class="btn btn__table  btn--disabled" disable>
                                                                <i class="fa fa-trash-o" ></i>
                                                            </a>
                                                        </th:block>

                                                        <a th:href="@{'/notification-review?notificationid=' + ${item.notificationId}}" 
                                                           class="btn btn__table btn--navyblue" title="" data-placement="left" 
                                                           data-tooltip="tooltip" th:attr="data-original-title=${language.get('lb_review')?:'Review'}">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th:block>

                                    <th:block th:if="${notificationList == null || #lists.isEmpty(notificationList)}">
                                        <!-- Show no data -->
                                        <div class="no-data text-center">
                                            <img th:src="@{/static/img/no-data.svg}" />
                                            <span class="text-center nonecase-font block error-comment" th:text="${language.get('lb_no_data')?:'No data'}"></span> 
                                            <p class="text-center mb--10" th:text="${language.get('lb_empty')?:'List category is empty!'}"></p>
                                        </div>
                                        <!--End No data-->
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       

            <input type="hidden" th:name="notificationId" />
            <input type="hidden" th:name="isActive" />
            <input type="hidden" id="txtContextPath" th:value="@{/}" />
            <input type="hidden" id="txtInitLanguage" th:value="${initLanguage?:''}" />
            <input type="hidden" id="txtSessionLanguage" th:value="${session.language}" />

            <form id="frmDeleteNotification" class="hidden" method="post" th:attr="action=@{/delete-notification}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </form>

            <form id="frmChangeActiveNotification" class="hidden" method="post" th:attr="action=@{/change-notification-active}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </form>
        </div>
    </body>
    <th:block layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/static/plugins/data-table/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/plugins/croppie/croppie.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/plugins/croppie/exif.js}"></script>
        <script type="text/javascript" th:src="@{/static/plugins/croppie/croppie-custom.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/notification-manager.js}"></script>

        <th:block th:if="${myStatus != null and myStatus == 'FAIL'}">
            <script>
                showAlert("[[${language.get('lb_alert_failed')?:'Failed!'}]]", "[[${language.get('lb_alert_failed')?:'Failed!'}]]", "error", true);
            </script>
        </th:block>

        <th:block th:if="${myStatus != null and myStatus == 'SUCCESS'}">
            <script>
                showAlert("[[${language.get('lb_alert_success')?:'Successful!'}]]", "[[${language.get('lb_alert_success')?:'Successful!'}]]", "success", true);
            </script>
        </th:block>
    </th:block>
</html>
