<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
    <head>
        <title>Notification Review | Local Search</title>
        <th:block layout:fragment="css">
            <link type="text/css" rel="stylesheet" th:href="@{/static/css/pages/notification.css}" />
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row bheading-title">
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/dashboard}" th:text="${language.get('lb_dashboard')?:'Dashboard'}"></a></li>
                        <li><a th:href="@{/notification-manager}" th:text="${language.get('lb_notification_manager')?:'Notification Manager'}"></a></li>
                        <li class="active"><span th:text="${language.get('lb_notification_review')?:'Notification Review'}"></span></li>
                    </ol> 
                </div>
                <!-- /Breadcrumb -->
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 text-right">
                    <h5 class="txt--dark">[[${language.get('lb_notification_review')?:'Notification Review'}]]</h5>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default border-panel card-view pt--0">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <h6 class="txt--dark notificationReview--title">[[${notification.subject}]]</h6>
                                <div class="notificationReview--content card-notifications">
                                    [(${notification.notification})]
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default border-panel card-view pt--0">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <h6 class="txt--dark notificationReview--title">
                                    [[${language.get('lb_permission_for')?:'Permission for '}]] <th:block th:if="${#arrays.length(notification.groupIds) != 0}" >[[${language.get('lb_group')?:'Group'}]]</th:block><th:block th:unless="${#arrays.length(notification.groupIds) != 0}">[[${language.get('lb_package')?:'Package'}]]</th:block></h6>
                                <div class="notificationReview--content card-notifications">
                                    <ul>
                                        <li>
                                            <th:block th:if="${#arrays.length(notification.groupIds)!= 0}" th:utext="${#strings.replace(#strings.escapeXml(notification.groupNames),',' , '</li><li>')}"> </th:block>
                                            <th:block th:unless="${#arrays.length(notification.groupIds)!= 0}" th:utext="${#strings.replace(#strings.escapeXml(notification.packageNames),',' , '</li><li>')}"></th:block>                                
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </body>
</html>
