<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
    <head>
        <title>Languages | Local Search</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/static/plugins/summernote/summernote.css}" type="text/css"/>
            <link rel="stylesheet" th:href="@{/static/css/pages/languages.css}" type="text/css"/>
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Component page -->
            <div class="row bheading-title">
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/dashboard}" th:text="${language.get('lb_dashboard')?:'Dashboard'}"></a></li>
                        <li class="active"><span th:text="${language.get('lb_breadcrumb_languages')?:'Languages'}"></span></li>
                    </ol> 
                </div>
                <!-- /Breadcrumb -->
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 text-right">
                    <h5 class="txt-dark" th:text="${language.get('lb_languages_page')?:'Languages'}"></h5>
                </div>

            </div>
            <div id="showWaitLanguages"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default card-view border-panel">
                        <div class="panel-heading language-box clearfix">
                            <form id="frm_load_language_function" th:attr="action=@{/load-language-function}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <div class="pull-left flex flex-middle">
                                    <div>
                                        <select id="language" name="language" class="selectpicker height--30 w--200">
                                            <th:block th:each="item : ${languageList}">
                                                <option th:value="${item.languageCode}" 
                                                        th:selected="${selectedLanguage != null and selectedLanguage == item.languageCode}" 
                                                        th:text="${item.languageName}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="ml--20">
                                        <select id="languageFunction" name="module" class="height--30 w--200 pl--5">
                                            <th:block th:each="item : ${languageFunctions}">
                                                <option th:value="${item.languageFunction}" 
                                                        th:selected="${selectedModule != null and selectedModule == item.languageFunction}"
                                                        th:text="${item.functionName}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <button onclick="loadLanguageFunction()" class="btn btn--xs btn--navyblue ml--20" type="button" th:text="${language.get('lb_button_load')?:'Load'}"></button>
                                </div>
                            </form>
                            <div class="pull-right">
                                <th:block th:if="${languageFunctionSelected != null and #lists.size(languageFunctionSelected)!= 0}" >
                                    <button id="btnUpdateLanguage" type="submit" class="btn btn--xs btn--navyblue" th:text="${language.get('lb_button_update')?:'Update'}"></button>
                                </th:block>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <th:block th:if="${languageFunctionSelected != null and #lists.size(languageFunctionSelected)!= 0}" >
                                        <table id="tblLanguage" class="table table-hover table-bordered display font--14" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th class="w--20p" th:text="${language.get('lb_table_lable')?:'Label'}"></th>
                                                    <th class="w--40p" th:text="${language.get('lb_table_text_default')?:'Text Default'}"></th>
                                                    <th class="w--40p" th:text="${language.get('lb_table_language_text')?:'Language Text'}"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="item : ${languageFunctionSelected}">
                                                    <td th:text="${item.lableClass}"></td>
                                                    <td th:utext="${item.defaultText}"></td>
                                                    <td>
                                                        <th:block th:if="${#strings.contains(item.lableClass,'lb_notification')}" >
                                                            <textarea class="form-control editLanguageFunction editBySummernote" th:languageFunction-id="${item.languageFunctionId}" th:old-data="${item.languageText}" th:utext="${item.languageText}"></textarea>
                                                        </th:block>
                                                        <th:block th:unless="${#strings.contains(item.lableClass,'lb_notification')}" >
                                                            <input class="form-control height--30 editLanguageFunction" th:languageFunction-id="${item.languageFunctionId}" type="text" th:old-data="${#strings.unescapeJava(item.languageText)}" th:value="${#strings.unescapeJava(item.languageText)}"/>
                                                        </th:block>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th:block>
                                    <th:block th:unless="${languageFunctionSelected != null and #lists.size(languageFunctionSelected)!= 0}" >
                                        <!--No data-->
                                        <div class="no-data text-center">
                                            <img th:src="@{/static/img/no-data.svg}"/>
                                            <span class="text-center nonecase-font block error-comment" th:text="${language.get('lb_no_data')?:'No data'}"></span>
                                            <p class="text-center mb--10">
                                                <span th:text="${language.get('lb_panel_empty')?:'Language function list is empty. Please click'}"></span> 
                                                <a href="javascript:loadLanguageFunction();" class="txt--blue weight--600" th:text="${language.get('lb_panel_here')?:'here'}"></a>
                                                <span th:text="${language.get('lb_panel_setup')?:'to load language function.'}"></span>
                                            </p>
                                        </div>
                                        <!--End No data-->
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <form id="frmUpdateLanguageFunction" th:attr="action=@{/update-language-function}" method="post">   
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" name="langFunctionList" id="txtLanguageFunctionList"/>
                <input type="hidden" name="language" id="txtLanguage"/>
            </form>
        </div>
    </body>
    <th:block layout:fragment="scripts">
        <script th:src="@{/static/plugins/summernote/summernote.min.js}" type="text/javascript"></script>

        <script>
            $(document).ready(function () {

                $("#btnUpdateLanguage").on("click", function () {
                    // filter changed row
                    var id_value = "";
                    $("#tblLanguage").find(".editLanguageFunction").each(function () {
                        if ($(this).hasClass("editBySummernote")) {
                            if ($(this).summernote('code') !== $(this).attr('old-data')) {
                                id_value += $(this).attr('languageFunction-id') + "_-_" + $(this).summernote('code') + ";-;";
                            }
                        } else {
                            if ($(this).val() !== $(this).attr('old-data')) {
                                id_value += $(this).attr('languageFunction-id') + "_-_" + $(this).val() + ";-;";
                            }
                        }
                    });

                    if (id_value.length > 0) {
                        showWait("#showWaitLanguages");
                        // set id_value in form with name langFunctionChanged
                        $("#txtLanguageFunctionList").val(id_value);
                        // set language with name by lang
                        $("#txtLanguage").val($("#language").val());
                        $("#frmUpdateLanguageFunction").submit();
                    } else {
                        showAlert("[[${language.get('lb_alert_success')?:'Successful!'}]]", "[[${language.get('lb_alert_nochange')?:'Nothing has changed'}]]", "success", true);
                    }
                });

                $(".editBySummernote").summernote({
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                        ['fontname', ['fontname']],
                        ['color', ['color']]
                    ]
                });
            });

            var loadLanguageFunction = function () {
                showWait("#showWaitLanguages");
                $("#frm_load_language_function").submit();
            };
        </script>

        <th:block th:if="${updateSuccess != null}">
            <script>
                showAlert("[[${language.get('lb_alert_success')?:'Successful!'}]]", "[[${language.get('lb_update_success')?:'Update languages successfully!'}]]", "success");
            </script>
        </th:block>

        <th:block th:if="${updateError != null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_error')?:'An error has occurred! Please try again later.'}]]", "error");
            </script>
        </th:block>

    </th:block>
</html>
