<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout}">

    <head>
        <title>Logs | Local Search</title>
        <th:block layout:fragment="css">
            <link type="text/css" rel="stylesheet" th:href="@{/static/plugins/data-table/jquery.dataTables.min.css}" />
            <link type="text/css" rel="stylesheet" th:href="@{/static/css/pages/logs.css}" />
        </th:block>
    </head>

    <body>
        <div layout:fragment="content">
            <div class="row bheading-title">
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/dashboard}" th:text="${language.get('lb_dashboard')?:'Dashboard'}"></a></li>
                        <li class="active"><span th:text="${language.get('lb_breadcrumb_logs')?:'Logs'}"></span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 text-right">
                    <h5 class="txt-dark" th:text="${language.get('lb_logs_page')?:'Logs'}"></h5>
                </div>
            </div>
            <input type="hidden" id="txtContextPath" th:value="@{/}"/>
            <div class="row mt-10">
                <div id="divBlockLogWaiting"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default border-panel card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <div class="dropdown block relative">
                                    <span class="title-log" th:text="${language.get('lb_select_date_log')?:'Date log'}"></span>
                                    <div class="logs-select w--200 txt--right">
                                        <a class="dropdown-toggle weight-500" data-toggle="dropdown" href="#" aria-expanded="false" role="button">
                                            <span class="places-ranking__label-select-box" th:attr="filter-date='all'" id="spDate">All</span>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        <ul id="ulDate" class="dropdown-menu dropdown--scrollbar txt--right" role="menu">
                                            <li th:attr="filter-date='1m'">
                                                <a><span class="places-ranking__label-select-box" th:text="${language.get('lb_date_log_one_month')?:'1 month'}"></span></a>
                                            </li>
                                            <li th:attr="filter-date='2m'">
                                                <a><span class="places-ranking__label-select-box" th:text="${language.get('lb_date_log_two_month')?:'2 months'}"></span></a>
                                            </li>
                                            <li th:attr="filter-date='3m'">
                                                <a><span class="places-ranking__label-select-box" th:text="${language.get('lb_date_log_three_month')?:'3 months'}"></span></a>
                                            </li>
                                            <li th:attr="filter-date='all'">
                                                <a><span class="places-ranking__label-select-box" th:text="${language.get('lb_date_log_all')?:'All'}"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left ml--15">
                                <div class="dropdown block">
                                    <span class="title-log" th:text="${language.get('lb_select_type_level')?:'Type level'}"> </span>
                                    <div class="logs-select dropdown__log w--200 txt--right">
                                        <a class="dropdown-toggle weight-500" data-toggle="dropdown" href="#" aria-expanded="false" role="button">
                                            <span class="places-ranking__label-select-box" th:attr="filter-level='error'" id="spLevel">Error</span>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        <ul id="ulLevel" class="dropdown-menu dropdown--scrollbar txt--right" role="menu">
                                            <li th:attr="filter-level='error'">
                                                <a><span class="places-ranking__label-select-box">Error</span></a>
                                            </li>
                                            <li th:attr="filter-level='error'">
                                                <a><span class="places-ranking__label-select-box">Info</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left ml--15">
                                <div class="dropdown block">
                                    <span class="title-log" th:text="${language.get('lb_select_type_log')?:'Type log'}"> </span>
                                    <div class="logs-select dropdown__log w--200 txt--right">
                                        <a class="dropdown-toggle weight-500" data-toggle="dropdown" href="#" aria-expanded="false" role="button">
                                            <span class="places-ranking__label-select-box" th:attr="filter-log='mysql'" id="spLog">Mysql</span>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        <ul id="ulLog" class="dropdown-menu dropdown--scrollbar txt--right" role="menu">
                                            <!-- Type log error -->
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='mysql'" data-content="This log contains all errors about connect and interactive in mysql!">
                                                <a><span class="places-ranking__label-select-box">Mysql</span></a>
                                            </li>
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='api'" data-content="This log contains all errors about connect and get data from api!">
                                                <a><span class="places-ranking__label-select-box">API</span></a>
                                            </li>
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='config'" data-content="This log contains all errors config of system(connection Pool...)">
                                                <a><span class="places-ranking__label-select-box">Config</span></a>
                                            </li>
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='future'" data-content="This log contains all errors when use DeferredResult future to create mutiple threads!">
                                                <a><span class="places-ranking__label-select-box">Future</span></a>
                                            </li>
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='io'" data-content="This log contains all errors read and write file!">
                                                <a><span class="places-ranking__label-select-box">File</span></a>
                                            </li>
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='format'" data-content="This log contains all errors when format datetime calendar!">
                                                <a><span class="places-ranking__label-select-box">Date Time</span></a>
                                            </li>
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='ip'" data-content="This log contains all errors about address IP when user access web local_search has not session!">
                                                <a><span class="places-ranking__label-select-box">Check IP Address</span></a>
                                            </li>
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='email'" data-content="This log contains all errors when send email!">
                                                <a><span class="places-ranking__label-select-box">Email</span></a>
                                            </li>
                                            <li class="divTypeError" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='ranking'" data-content="This log error when check ranking!">
                                                <a><span class="places-ranking__label-select-box">Ranking</span></a>
                                            </li>

                                            <!-- Type log info -->
                                            <li class="divTypeInfo" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='mysql'" data-content="This log contains all queries get and interactive data in mysql!">
                                                <a><span class="places-ranking__label-select-box">Mysql</span></a>
                                            </li>
                                            <li class="divTypeInfo" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" th:attr="filter-log='api'" data-content="This log contains all informations about connect and get data from api!">
                                                <a><span class="places-ranking__label-select-box">Api</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left ml--15">
                                <button class="btn btn--xs btn--navyblue" onclick="filterListLogByLevel();"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <th:block th:if="${logDTOList != null and #lists.size(logDTOList) != 0}">
                                        <div id="divLogWaiting">
                                            <div class="loading-page loading-box">
                                                <div class="loading-center--absolute">
                                                    <div class="object object--one"></div>
                                                    <div class="object object--two"></div>
                                                    <div class="object object--three"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="tblLog" class="table table-hover table-bordered display font--14" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th th:text="${language.get('lb_table_file_name')?:'File Name'}"></th>
                                                    <th th:text="${language.get('lb_table_size')?:'Size (bytes)'}"></th>
                                                    <th th:text="${language.get('lb_table_date')?:'Date Created'}"></th>
                                                    <th th:text="${language.get('lb_table_action')?:'Action'}"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="item : ${logDTOList}">
                                                    <td th:text="${item.fileName}"></td>
                                                    <td th:text="${item.fileSize}"></td>
                                                    <td th:text="${item.dateCreated}"></td>
                                                    <td class="text-center">
                                                        <a th:href="@{'/download-file-log?filePath='+ ${item.filePath}}" class="btn btn__table btn--navyblue text-inverse" data-placement="left" data-tooltip="tooltip" th:attr="data-original-title=${language.get('lb_download')?:'Download'}">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                        <a target="_blank" th:href="@{'/detail-file-log?filePath=' + ${item.filePath}}" class="btn btn__table btn--warning text-inverse btnDetail" data-placement="left" data-tooltip="tooltip" th:attr="data-original-title=${language.get('lb_detail')?:'Detail'}">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th:block>
                                    <th:block th:unless="${logDTOList!= null and #lists.size(logDTOList)!= 0}">
                                        <!-- Show no data -->
                                        <div class="no-data text-center">
                                            <img th:src="@{/static/img/no-data.svg}"/>
                                            <span class="text-center nonecase-font block error-comment" th:text="${language.get('lb_no_data')?:'No data'}"></span>
                                            <p class="text-center mb--10" th:text="${language.get('lb_empty')?:'List log is empty.'}"></p>
                                        </div>
                                        <!--End No data-->
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.modal-dialog -->
            <form id="frmFilterMonitoringUsed" th:attr="action=@{/set-cookie-filter-log}" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" id="txtFilterCondition" name="filterCondition" />
            </form>
            <input type="hidden" id="txtInitLanguage" th:value="${initLanguage}" />
            <input type="hidden" id="txtSessionLanguage" th:value="${session.language}" />
        </div>
        <th:block layout:fragment="scripts">
            <script th:src="@{/static/plugins/data-table/jquery.dataTables.min.js}"></script>
            <script type="text/javascript" th:src="@{/static/js/log.js}"></script>
        </th:block>
    </body>

</html>
