<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
    <head>
        <title>Modules | Local Search</title>
        <th:block layout:fragment="css">
            <link th:href="@{/static/plugins/data-table/jquery.dataTables.min.css}" href="" rel="stylesheet" type="text/css" />
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <!--context path-->
            <input type="hidden" id="contextPath" th:value="@{/}"/>
            <!-- Component page -->
            <div class="row bheading-title">
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/dashboard}" th:text="${language.get('lb_dashboard')?:'Dashboard'}"></a></li>
                        <li class="active" ><span th:text="${language.get('lb_breadcrumb_modules')?:'Modules'}"></span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 text-right">
                    <h5 class="txt--dark" th:text="${language.get('lb_modules_page')?:'Modules'}"></h5>
                </div>
            </div>
            <div class="row">
                <div id="divBlockModuleWaiting"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default border-panel card-view">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <a onclick="showModulePopup('', '', 'administrator', 0, 'add')" data-toggle="modal" data-target="#myModalModule" class="btn btn--navyblue btn--xs" th:text="${language.get('lb_button_add_module')?:'Add Module'}"></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <th:block th:if="${moduleList!=null and !moduleList.empty }">


                                        <div id="divModuleWaiting">
                                            <div class="loading-page loading-box">
                                                <div class="loading-center--absolute">
                                                    <div class="object object--one"></div>
                                                    <div class="object object--two"></div>
                                                    <div class="object object--three"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="tbl_module" class="table table-hover table-bordered display font--14" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th th:text="${language.get('lb_table_module_code')?:'Module Code'}"></th>
                                                    <th th:text="${language.get('lb_table_module_name')?:'Module Name'}"></th>
                                                    <th th:text="${language.get('lb_table_menu_name')?:'Menu Name'}"></th>
                                                    <th th:text="${language.get('lb_table_category_name')?:'Category Name'}"></th>
                                                    <th class="text-center" th:text="${language.get('lb_table_beta')?:'BETA'}"></th>
                                                    <th class="text-center" th:text="${language.get('lb_table_order')?:'Order'}"></th>
                                                    <th class="text-right" th:text="${language.get('lb_table_created_date')?:'Created date'}"></th>
                                                    <th class="text-right" th:text="${language.get('lb_table_updated_date')?:'Updated date'}"></th>
                                                    <th class="text-center" th:text="${language.get('lb_table_action')?:'Action'}"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th:block th:each="item : ${moduleList}">
                                                    <tr>
                                                        <td th:text="${item.moduleCode}"></td>
                                                        <td th:text="${item.moduleName}"></td>
                                                        <td th:text="|${language.get('lb_tbody_menu')?:'Menu'}: ${item.menuName}|"></td>
                                                        <td><b th:text="|${language.get('lb_tbody_category')?:'Category'}: ${item.categoryName}|"></b></td>
                                                        <td class="text-center">
                                                            <th:block th:if="${item.isBeta==1}">
                                                                <label class="badge badge--danger">BETA</label>
                                                            </th:block>
                                                        </td>
                                                        <td class="text-center" th:text="${item.orderNumber}"></td>
                                                        <td class="text-right" th:if='${item.createdDate!=null}' th:utext='${#strings.replace(item.createdDate," ","<br>")}' ></td>
                                                        <td class="text-right" th:if='${item.updatedDate!=null}' th:utext='${#strings.replace(item.updatedDate," ","<br>")}' ></td>  
                                                        <td class="text-center dt-nowrap">
                                                            <a  th:onclick='showModulePopup([[${(item.moduleCode)}]],
                                                                [[${(item.moduleName)}]],
                                                                [[${(item.menuCode)}]],
                                                                "[[${(item.orderNumber)}]]",
                                                                "[[${(item.categoryId)}]]",
                                                                "[[${(item.isBeta)}]]",
                                                                "update",
                                                                "[[${(item.moduleId)}]]");' data-toggle="modal" data-target="#myModalModule" class="btn btn__table btn--warning" data-tooltip="tooltip"  th:attr="data-original-title=${language.get('lb_action_edit')?:'Edit'}" data-placement="left" ><i class="fa fa-pencil"></i></a>
                                                            <a th:onclick="showPopupDeleteModule([[${(item.moduleCode)}]], [[${(item.moduleId)}]])"     class="btn btn__table btn--danger delete-staff"  data-tooltip="tooltip" th:attr="data-original-title=${language.get('lb_action_delete')?:'Delete'}"  data-placement="left">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                    </th:block>
                                    <th:block th:unless="${moduleList!=null and !moduleList.empty }">
                                        <!-- Show no data -->
                                        <div class="no-data text-center">
                                            <img th:src="@{/static/img/no-data.svg}" />
                                                <span class="text-center nonecase-font block error-comment" th:text="${language.get('lb_no_data')?:'No data'"></span>
                                                <p class="text-center mb--10" th:text="${language.get('lb_empty')?:'List module is empty!'"></p>
                                        </div>
                                        <!--End No data-->
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal Add Group-->

            <input id="listCategory" type="hidden" th:value="${categoryList}"/> 

            <div id="elmWaiting">
                <div id="myModalModule" class="modal fade modal-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h5 class="modal-title" id="myModalLabel" th:text="${language.get('lb_popup_add_new')?:'Add New Module'}"></h5>
                            </div>
                            <form id="frmModules" method="POST">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input name='moduleId' id="moduleId" type='hidden' value="0" />
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group mb--10 clearfix">
                                            <label class="pt--10 col-md-4 col-sm-4 col-xs-4 control-label text-right" th:text="${language.get('lb_popup_code')?:'Module Code'}"></label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <input type="text" autofocus class="form-control" name="moduleCode" id="txtModuleCode" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="form-group mb--10 clearfix">
                                            <label class="pt--10 col-md-4 col-sm-4 col-xs-4 control-label text-right" th:text="${language.get('lb_popup_name')?:'Name'}"></label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <input type="text" class="form-control" name="moduleName" id="txtModuleName" autocomplete="off" />
                                                <span class="txt--error font--12 mt--5" th:text="${moduleDTO?.errorMap?.get('moduleName')}"></span> 

                                            </div>
                                        </div>
                                        <div class="form-group mb--10 clearfix">
                                            <label class="pt--10 col-md-4 col-sm-4 col-xs-4 control-label text-right" th:text="${language.get('lb_popup_menu')?:'Menu'}"></label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <select id="selMenuCode" name="menuCode" class="form-control" data-placeholder="Select menu">
                                                    <th:block th:each="item:${menuList}">
                                                        <option th:value="${item.menuCode}" th:text="${item.menuName}"></option>
                                                    </th:block>

                                                    <span class="txt--error font--12 mt--5" th:text="${moduleDTO?.errorMap?.get('menuCode')}"></span> 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb--10 clearfix">
                                            <label class="pt--10 col-md-4 col-sm-4 col-xs-4 control-label text-right" th:text="${language.get('lb_popup_category')?:'Category'}"></label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <select id="selCategoryId" name="categoryId" class="form-control" data-placeholder="Select category">
                                                    <span class="txt--error font--12 mt--5" th:text="${moduleDTO?.errorMap?.get('categoryName')}"></span> 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb--10 clearfix">
                                            <label class="pt--10 col-md-4 col-sm-4 col-xs-4 control-label text-right" th:text="${language.get('lb_popup_number')?:'Order Number'}"></label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <input type="text" class="form-control" id="txtOrder" name="orderNumber" autocomplete="off" value="0" />
                                                <span class="txt--error font--12 mt--5" th:text="${moduleDTO?.errorMap?.get('order')}"></span> 
                                            </div>
                                        </div>
                                        <div class="form-group mb--10 clearfix">
                                            <label class="pt--10 col-md-4 col-sm-4 col-xs-4 control-label text-right" th:text="${language.get('lb_popup_beta')?:'Beta'}"></label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <div class="checkbox">
                                                    <input id="chkIsBeta" name="isBeta" type="checkbox" th:value="${moduleDTO==null? '' : moduleDTO.isBeta }" />
                                                    <label for="chkIsBeta"></label>
                                                </div>
                                                <span class="txt--error font--12 mt--5"></span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input id="btnSaveModule" type="submit" class="btn btn--navyblue btn--xs" th:value="${language.get('lb_button_save')?:'Save'}" />
                                    <button type="button" class="btn btn--default btn--xs" data-dismiss="modal" th:text="${language.get('lb_button_close')?:'Close'}"></button>
                                </div>
                            </form>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!--Modal Confirm Delete Module -->
                <div id="mdConfirmModule" class="modal fade modal-center in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; padding-right: 17px;">
                    <div class="modal-dialog">
                        <input type="hidden" id="txtModuleConfirmDelete" value="" />
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h5 class="modal-title" id="myModalLabel">Confirm Delete Module</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <blockquote>
                                            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, Helvetica, sans-serif; color: rgb(39, 43, 52);"><strong>This module is being used!</strong> Are you sure?</p><p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, Helvetica, sans-serif; color: rgb(39, 43, 52);">You can not recover it after delete successfully!</p><p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, Helvetica, sans-serif; color: rgb(39, 43, 52);">Please enter confirm module code to delete account as below.</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label text-right col-md-3 col-sm-3 col-xs-3">Module Code Confirm</label>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <input type="text" class="form-control" id="txtModuleCodeDelete" placeholder="Enter module code..." onkeyup="enableButtonDeleteModule()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn--navyblue btn--xs" id="btnDeleteModule" disabled="disabled">Delete</button>
                                <button type="button" class="btn btn--default btn--xs" data-dismiss="modal" id="btnCloseModule">Close</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!--Form hidden delete-->
                <form hidden method="POST" id="frmDelete">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input id="idModuleDelete" value="" />
                </form>
                <input type="hidden" id="txtSessionLanguage" th:value="${session.language}"/>
            </div>
        </div>
    </body>
    <th:block layout:fragment="scripts">

        <script th:src="@{/static/plugins/data-table/jquery.dataTables.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/plugins/jquery.validate/jquery.validate.min.js}" type="text/javascript"></script>
        <script th:src="@{'/static/plugins/jquery.validate/localization/validate-' + ${session.language} + '.js'}" ></script>
        <script >
            $(document).ready(function () {
                var sessionLanguage = $("#txtSessionLanguage").val().length > 0 ? $("#txtSessionLanguage").val().toLowerCase() : "ja";
                var table = $('#tbl_module').DataTable({
                    "language": {
                        "url": "[(@{/static/plugins/data-table/languages/datatable-" + sessionLanguage + ".json})]"
                    },
                    "lengthMenu": [
                        [25, 50, 100, -1], [25, 50, 100, "[[${language.get('lb_select_all')?: 'All'}]]"]
                    ],
                    "scrollX": true,
                    "order": [
                        [2, 'asc'], [3, 'asc']
                    ],
                    "stripeClasses": ['odd-row', 'even-row'],
                    "columnDefs": [
                        {"visible": false, "targets": 2},
                        {"visible": false, "targets": 3}
                    ],
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({page: 'current'}).nodes();
                        var lastM = null;
                        var lastC = null;
                        //group Menu
                        api.column(2, {page: 'current'}).data().each(function (group, i) {
                            if (lastM !== group) {
                                $(rows).eq(i).before(
                                        '<tr class="group"><td colspan="8">' + group + '</td></tr>'
                                        );
                                lastM = group;
                            }
                        });
                        //group category
                        api.column(3, {page: 'current'}).data().each(function (group, i) {
                            if (lastC !== group) {
                                $(rows).eq(i).before(
                                        '<tr class="groupCategory"><td colspan="8">' + group + '</td></tr>'
                                        );
                                lastC = group;
                            }
                        });
                    },
                    "initComplete": function () {
                        hideWait("#divModuleWaiting");
                    }
                });
                $('#tbl_module tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });

            var formValidate = function () {
                jQuery.validator.addMethod('alpha_numeric', function (value) {
                    return value.match(/^([a-zA-Z0-9-]+)$/);
                });
                return $("#frmModules").validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'txt--error font--12 mt--5', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        "moduleCode": {
                            required: true,
                            "alpha_numeric": true},
                        "moduleName": {
                            required: true
                        },
                        "orderNumber": {
                            required: true,
                            number: true
                        }
                    },
                    highlight: function (element) { // hightlight error inputs
                        $(element).closest('.form-group').addClass('has--error'); // set error class to the control group
                    },
                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element).closest('.form-group').removeClass('has--error'); // set error class to the control group
                    },
                    success: function (label) {
                        label.closest('.form-group').removeClass('has--error'); // set success class to the control group
                    },
                    submitHandler: function () {
                        $(".close").click();
                        showWait("#divBlockModuleWaiting");
                        return true;
                    }
                });
            }();
            var showModulePopup = function (iModuleCode, iModuleName, iMenuCode, iOrder, iCategoryId, iIsBeta, iAction, moduleId) {
                $("#txtModuleName").val(iModuleName);
                $("#selMenuCode").val(iMenuCode);
                $("#txtOrder").val(iOrder);
                loadCategory(iMenuCode);
                $("#chkIsBeta").val(iIsBeta);
                if (iIsBeta == 1) {
                    $("#chkIsBeta").prop("checked", "checked")
                } else {
                    $("#chkIsBeta").removeAttr("checked");
                }
                if (iAction == "update") {
                    $("#frmModules").attr("action", $("#contextPath").val() + "update-module");
                    $("#txtModuleCode").val(iModuleCode);
                    $("#txtModuleCode").attr('disabled', true);
                    $("#myModalLabel").text("[[${language.get('lb_popup_update_title')?:'Update Module'}]]");
                    (iCategoryId.text === "") ? $("#selCategoryId").val("") : $("#selCategoryId").val(iCategoryId);
                } else {
                    $("#frmModules").attr("action", $("#contextPath").val() + "add-new-module");
                    $("#txtModuleCode").val("");
                    $("#txtModuleCode").attr('disabled', false);
                    $("#myModalLabel").text("[[${language.get('lb_popup_add_title')?:'Add Module'}]]");
                    $("#moduleId").removeAttr("name"); //auto set default moduleId for Add Module function
                }
                formValidate.resetForm();
                $("#moduleId").val(moduleId);
            };

            //Handle checkbox 
            handleCheckbox("#chkIsBeta");
            //Handle category follow menu  
            $('#selMenuCode').on('change', function () {
                var listCategory = JSON.parse($('#listCategory').val());
                $('#selCategoryId').children().remove();
                for (i = 0; i < listCategory.length; i++) {
                    if (listCategory[i].menuCode === ($('#selMenuCode').val())) {
                        $('#selCategoryId').append('<option value=' + listCategory[i].categoryId + '>' + listCategory[i].categoryName + '</option>');
                    }
                }
            });
            //<editor-fold defaultstate="collapsed" desc="HANDLE CATEGORY SELECT BOX">
            var loadCategory = function (menuCode) {
                var listCategory = JSON.parse($('#listCategory').val());
                $('#selCategoryId').children().remove();
                for (i = 0; i < listCategory.length; i++) {
                    if (listCategory[i].menuCode === menuCode) {
                        $('#selCategoryId').append('<option value=' + listCategory[i].categoryId + '>' + listCategory[i].categoryName + '</option>');
                    }
                }
            };
            //</editor-fold>

            var formValidate = function () {
                jQuery.validator.addMethod('alpha_numeric', function (value) {
                    return value.match(/^([a-zA-Z0-9-]+)$/);
                });
                return $("#frmModules").validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'txt--error font--12 mt--5', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        "moduleCode": {
                            required: true,
                            "alpha_numeric": true},
                        "moduleName": {
                            required: true
                        },
                        "orderNumber": {
                            required: true,
                            number: true
                        }
                    },
                    highlight: function (element) { // hightlight error inputs
                        $(element).closest('.form-group').addClass('has--error'); // set error class to the control group
                    },
                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element).closest('.form-group').removeClass('has--error'); // set error class to the control group
                    },
                    success: function (label) {
                        label.closest('.form-group').removeClass('has--error'); // set success class to the control group
                    },
                    submitHandler: function () {
                        $(".close").click();
                        showWait("#divBlockModuleWaiting");
                        return true;
                    }
                });
            }();
            var showModulePopup = function (iModuleCode, iModuleName, iMenuCode, iOrder, iCategoryId, iIsBeta, iAction, moduleId) {
                $("#txtModuleName").val(iModuleName);
                $("#selMenuCode").val(iMenuCode);
                $("#txtOrder").val(iOrder);
                loadCategory(iMenuCode);
                $("#chkIsBeta").val(iIsBeta);
                if (iIsBeta == 1) {
                    $("#chkIsBeta").prop("checked", "checked")
                } else {
                    $("#chkIsBeta").removeAttr("checked");
                }
                if (iAction == "update") {
                    $("#frmModules").attr("action", $("#contextPath").val() + "update-module");
                    $("#txtModuleCode").val(iModuleCode);
                    $("#txtModuleCode").attr('disabled', true);
                    $("#myModalLabel").text("[[${language.get('lb_popup_update_title')?:'Update Module'}]]");
                    (iCategoryId.text === "") ? $("#selCategoryId").val("") : $("#selCategoryId").val(iCategoryId);
                } else {
                    $("#frmModules").attr("action", $("#contextPath").val() + "add-new-module");
                    $("#txtModuleCode").val("");
                    $("#txtModuleCode").attr('disabled', false);
                    $("#myModalLabel").text("[[${language.get('lb_popup_add_title')?:'Add Module'}]]");
                    $("#moduleId").removeAttr("name"); //auto set default moduleId for Add Module function
                }
                formValidate.resetForm();
                $("#moduleId").val(moduleId);
            };

            //Handle checkbox 
            handleCheckbox("#chkIsBeta");
            //Handle category follow menu  
            $('#selMenuCode').on('change', function () {
                var listCategory = JSON.parse($('#listCategory').val());
                $('#selCategoryId').children().remove();
                for (i = 0; i < listCategory.length; i++) {
                    if (listCategory[i].menuCode === ($('#selMenuCode').val())) {
                        $('#selCategoryId').append('<option value=' + listCategory[i].categoryId + '>' + listCategory[i].categoryName + '</option>');
                    }
                }
            });
            //<editor-fold defaultstate="collapsed" desc="HANDLE CATEGORY SELECT BOX">
            var loadCategory = function (menuCode) {
                var listCategory = JSON.parse($('#listCategory').val());
                $('#selCategoryId').children().remove();
                for (i = 0; i < listCategory.length; i++) {
                    if (listCategory[i].menuCode === menuCode) {
                        $('#selCategoryId').append('<option value=' + listCategory[i].categoryId + '>' + listCategory[i].categoryName + '</option>');
                    }
                }
            }
            //</editor-fold>

            var showPopupDeleteModule = function (moduleCode, idModuleDelete) {
                // Reset input email confirm delete Module
                $("#txtModuleCodeDelete").val("");
                $("#btnDeleteModule").attr("disabled", true);

                // Save old email confirm
                $("#txtModuleConfirmDelete").val(moduleCode);
                $("#mdConfirmModule").modal("show");

                $("#btnDeleteModule").click(function () {

                    $("#idModuleDelete").attr("name", "moduleId");
                    $("#idModuleDelete").val(idModuleDelete);
                    $("#frmDelete").attr("action", $("#contextPath").val() + "delete-module");
                    $("#frmDelete").submit();

                    $("#mdConfirm").modal("hide");
                    showWait("#divBlockModuleWaiting");
                });
            };
            var enableButtonDeleteModule = function () {
                var disabledBtnDelete = $("#txtModuleConfirmDelete").val() !== $("#txtModuleCodeDelete").val();
                $("#btnDeleteModule").attr("disabled", disabledBtnDelete);
            };
        </script>

        <th:block th:if="${(moduleDTO !=null)}">
            <script>
                showModulePopup("[[${(moduleDTO?.moduleCode)}",
                        "[[${(moduleDTO?.moduleName)}",
                        "[[${(moduleDTO?.menuCode)}",
                        "[[${(moduleDTO?.order)}",
                        "[[${(moduleDTO?.categoryId)}",
                        "[[${(moduleDTO?.isBeta)}]]",
                        "[[${myStatus}]]",
                        "[[${(moduleDTO?.id)}]]");
            </script>
        </th:block>
        <th:block th:if="${addSuccess !=null}">
            <script>
                showAlert("[[${language.get('lb_alert_success')?:'Successful!'}]]", "[[${language.get('lb_add_success')?:'Add module successfully'}]]", "success", true);</script>
        </th:block>

        <th:block th:if="${deleteRef !=null}">
            <script>
                showAlert("[[${language.get('lb_alert_warning')?:'Warning!'}]]", "[[${language.get('lb_delete_ref')?:'Module has being used! You can not delete!'}]]", "warning", true);
            </script>
        </th:block>

        <th:block th:if="${addError !=null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_error')?:'An error has occurred! Please try again later.'}]]", "error", true);
            </script>

        </th:block>

        <th:block th:if="${updateSuccess !=null}">
            <script>
                showAlert("[[${language.get('lb_alert_success')?:'Successful!'}]]", "[[${language.get('lb_update_success')?:'Update module successfully!'}]]", "success", true);
            </script>
        </th:block>

        <th:block th:if="${updateError !=null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_error')?:'An error has occurred! Please try again later.'}]]", "error", true);</script>
        </th:block>

        <th:block th:if="${deleteSuccess !=null}">
            <script>
                showAlert("[[${language.get('lb_alert_success')?:'Successful!'}]]", "[[${language.get('lb_delete_success')?:'Delete module successfully!'}]]", "success", true);
            </script>
        </th:block>

        <th:block th:if="${deleteError !=null}">
            <script>
                showAlert("[[${language.get('lb_alert_error')?:'Error!'}]]", "[[${language.get('lb_error')?:'An error has occurred! Please try again later.'}]]", "error", true);
            </script>
        </th:block>
    </th:block>
</html>
