

/*=============================================
=            Section comment block            =
++++ Imports ++++
++++ Reset ++++
++++ Common ++++

=============================================*/
/*=============================================
=            Imports inclue icon font and framwork bootstrap           =
=============================================*/

@import url(../css/font-awesome.min.css);
@import url(../css/bootstrap.min.css);

/*=============================================
=            Reset all tag html compatible browsers            =
=============================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
.fc-center h2,
.error-comment,
h4,
h5,
h6,
.panel-title,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

strong {
    font-weight: bold;
}

body {
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    overflow-x: hidden;
}

a:hover,
a:active {
    outline: 0;
}

button:focus {
    border: none;
    outline: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #272B34;
}

a:hover {
    text-decoration: none;
    color: #272B34;
}

a:focus {
    text-decoration: none;
    outline: none;
    color: #272B34;
}

h1,
h2,
h3,
.fc-center h2,
.error-comment,
h4,
h5,
h6,
.panel-title {
    color: #272B34;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3,
.fc-center h2,
.error-comment {
    font-size: 30px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
}

h5 {
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
}

h6,
.panel-title,
.panel-captilize{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    /*text-transform: uppercase;*/
}
.panel-captilize{
    /*text-transform: capitalize;*/
    font-weight: 500;
    font-size: 20px;
}
.panel-title span{
    text-transform: none;
    font-size: 14px;
    font-weight: 300;
}

p {
    font-size: 14px;
    line-height: 25px;
}

p.lead {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
    font-weight: 400;
}

p.text-muted {
    font-size: 14px;
}


dt {
    font-weight: 600;
}

code {
    background: transparent;
}

::-webkit-file-upload-button {
    cursor: pointer;
}
.break--all {
    word-break: break-all;
}
.zIndex--999 {
    z-index: 999 !important;
}
/*=============================================
=            Common CSS             =
    ++++ Padding ++++
        .pa--(0-30)
    ++++ Padding top ++++
        .pt--(0-50)
    ++++ Padding bottom ++++
        .pb--(0-50)
    ++++ Padding left ++++
        .pl--(0-50)
    ++++ Padding right ++++
        .pr--(0-50)   
        
        
    ++++ Margin ++++
        .ma--(0-30)
    ++++ Margin top ++++
        .mt--(0-60)
    ++++ Margin bottom ++++
        .mb--(0-60)
    ++++ Margin left ++++
        .ml--(0-60)
    ++++ Margin right ++++
        .mr--(0-60)   
    ++++ Margin left auto ++++
        .ml--auto 
    ++++ Margin right auto ++++
        .mr--auto 


    ++++ No float ++++
        .no-float 


    ++++ Overflow hidden ++++
        .overflow-hide 


    ++++ Clearfix ++++
        .clearfix   


    ++++ Background color ++++
        .bg--(green,success,seagreen,grey,yellow,warning,red,
        danger,blue,primary,pink,info,purple,skypeblue,orange,
        gold,brown,beige,light,dark,twitter,violet,navyblue)


    ++++ Text color ++++
        .txt--(green,success,seagreen,grey,yellow,warning,red,
        danger,blue,primary,pink,info,purple,skypeblue,orange,
        gold,brown,beige,light,dark,twitter,violet)  
        
    
    ++++ Font size ++++
        .font-(10-48)
        
        
    ++++ Font Weight ++++
        .weight-(300-600)
  
    ++++ Button ++++
        .btn.btn--(default,dark,orange,info,primary,success,
        danger,warning,white,outline)
    ++++ Checkbox Radio ++++

=============================================*/

/*=============================================
=            Padding CSS            =
=============================================*/
.pa--0 {
    padding: 0px !important;
}

.pa--5 {
    padding: 5px !important;
}

.pa--10 {
    padding: 10px !important;
}

.pa--15 {
    padding: 15px !important;
}

.pa--20 {
    padding: 20px !important;
}

.pa--25 {
    padding: 25px !important;
}

.pa--30 {
    padding: 30px !important;
}

.pt--0 {
    padding-top: 0px !important;
}

.pt--5 {
    padding-top: 5px !important;
}

.pt--10 {
    padding-top: 10px !important;
}

.pt--15 {
    padding-top: 15px !important;
}

.pt--20 {
    padding-top: 20px !important;
}

.pt--25 {
    padding-top: 25px !important;
}

.pt--30 {
    padding-top: 30px !important;
}

.pt--35 {
    padding-top: 35px !important;
}

.pt--40 {
    padding-top: 40px !important;
}

.pt--45 {
    padding-top: 45px !important;
}

.pt--50 {
    padding-top: 50px !important;
}

.pb--0 {
    padding-bottom: 0px !important;
}

.pb--5 {
    padding-bottom: 5px !important;
}

.pb--10 {
    padding-bottom: 10px !important;
}

.pb--15 {
    padding-bottom: 15px !important;
}

.pb--20 {
    padding-bottom: 20px !important;
}

.pb--25 {
    padding-bottom: 25px !important;
}

.pb--30 {
    padding-bottom: 30px !important;
}

.pb--35 {
    padding-bottom: 35px !important;
}

.pb--40 {
    padding-bottom: 40px !important;
}

.pb--45 {
    padding-bottom: 45px !important;
}

.pb--50 {
    padding-bottom: 50px !important;
}

.pl--0 {
    padding-left: 0px !important;
}

.pl--5 {
    padding-left: 5px !important;
}

.pl--10 {
    padding-left: 10px !important;
}

.pl--15 {
    padding-left: 15px !important;
}

.pl--20 {
    padding-left: 20px !important;
}

.pl--25 {
    padding-left: 25px !important;
}

.pl--30 {
    padding-left: 30px !important;
}

.pl--35 {
    padding-left: 35px !important;
}

.pl--40 {
    padding-left: 40px !important;
}

.pl--45 {
    padding-left: 45px !important;
}

.pl--50 {
    padding-left: 50px !important;
}

.pr--0 {
    padding-right: 0px !important;
}

.pr--5 {
    padding-right: 5px !important;
}

.pr--10 {
    padding-right: 10px !important;
}

.pr--15 {
    padding-right: 15px !important;
}

.pr--20 {
    padding-right: 20px !important;
}

.pr--25 {
    padding-right: 25px !important;
}

.pr--30 {
    padding-right: 30px !important;
}

.pr--35 {
    padding-right: 35px !important;
}

.pr--40 {
    padding-right: 40px !important;
}

.pr--45 {
    padding-right: 45px !important;
}

.pr--50 {
    padding-right: 50px !important;
}

/*=============================================
=            Margin CSS            =
=============================================*/

.ma--0 {
    margin: 0px !important;
}

.ma--5 {
    margin: 5px !important;
}

.ma--10 {
    margin: 10px !important;
}

.ma--15 {
    margin: 15px !important;
}

.ma--20 {
    margin: 20px !important;
}

.ma--25 {
    margin: 25px !important;
}

.ma--30 {
    margin: 30px !important;
}

.mt--0 {
    margin-top: 0px !important;
}

.mt--5 {
    margin-top: 5px !important;
}

.mt--10 {
    margin-top: 10px !important;
}

.mt--15 {
    margin-top: 15px !important;
}

.mt--20 {
    margin-top: 20px !important;
}

.mt--25 {
    margin-top: 25px !important;
}

.mt--30 {
    margin-top: 30px !important;
}

.mt--35 {
    margin-top: 35px !important;
}

.mt--40 {
    margin-top: 40px !important;
}

.mt--45 {
    margin-top: 45px !important;
}

.mt--50 {
    margin-top: 50px !important;
}

.mt--55 {
    margin-top: 55px !important;
}

.mt--60 {
    margin-top: 60px !important;
}

.mb--0 {
    margin-bottom: 0px !important;
}

.mb--5 {
    margin-bottom: 5px !important;
}

.mb--10 {
    margin-bottom: 10px !important;
}

.mb--15 {
    margin-bottom: 15px !important;
}

.mb--20 {
    margin-bottom: 20px !important;
}

.mb--25 {
    margin-bottom: 25px !important;
}

.mb--30 {
    margin-bottom: 30px !important;
}

.mb--35 {
    margin-bottom: 35px !important;
}

.mb--40 {
    margin-bottom: 40px !important;
}

.mb--45 {
    margin-bottom: 45px !important;
}

.mb--50 {
    margin-bottom: 50px !important;
}

.mb--55 {
    margin-bottom: 55px !important;
}

.mb--60 {
    margin-bottom: 60px !important;
}

.ml--0 {
    margin-left: 0px !important;
}

.ml--5 {
    margin-left: 5px !important;
}

.ml--10 {
    margin-left: 10px !important;
}

.ml--15 {
    margin-left: 15px !important;
}

.ml--20 {
    margin-left: 20px !important;
}

.ml--25 {
    margin-left: 25px !important;
}

.ml--30 {
    margin-left: 30px !important;
}

.ml--35 {
    margin-left: 35px !important;
}

.ml--40 {
    margin-left: 40px !important;
}

.ml--45 {
    margin-left: 45px !important;
}

.ml--50 {
    margin-left: 50px !important;
}

.ml--55 {
    margin-left: 55px !important;
}

.ml--60 {
    margin-left: 60px !important;
}

.mr--0 {
    margin-right: 0px !important;
}

.mr--5 {
    margin-right: 5px !important;
}

.mr--10 {
    margin-right: 10px !important;
}

.mr--15 {
    margin-right: 15px !important;
}

.mr--20 {
    margin-right: 20px !important;
}

.mr--25 {
    margin-right: 25px !important;
}

.mr--30 {
    margin-right: 30px !important;
}

.mr--35 {
    margin-right: 35px !important;
}

.mr--40 {
    margin-right: 40px !important;
}

.mr--45 {
    margin-right: 45px !important;
}

.mr--50 {
    margin-right: 50px !important;
}

.mr--55 {
    margin-right: 55px !important;
}

.mr--60 {
    margin-right: 60px !important;
}

.ml--auto {
    margin-left: auto !important;
}

.mr--auto {
    margin-right: auto !important;
}

.no--float {
    float: none !important;
}

.overflow--hide {
    overflow: hidden !important;
}

.overflow--auto {
    overflow: auto !important;
}

.clearfix {
    overflow: hidden;
    clear: both;
    float: none;
}

.text--right {
    text-align: right !important;
}

.text--left {
    text-align: left !important;
}

/*=============================================
=            Background CSS            =
=============================================*/
.bg--google {
    background: #1a73e8 !important;  
}
.bg--googleOpacity {
    background: #909090 !important;  
    opacity: 0.6;
}
.bg--green,
.bg--success {
    background: #22af47 !important;
}

.bg--seagreen {
    background: #007153 !important;
}

.bg--grey {
    background: #727272 !important;
}
.bg--lgrey {
    background: #f5f2f0 !important;
}
.bg--yellow,
.bg--warning {
    background: #ffbf36 !important;
}

.bg--red,
.bg--danger {
    background: #f83f37 !important;
}

.bg--blue,
.bg--primary {
    background: #1565c0  !important;
}

.bg--pink,
.bg--info {
    background: #ed1b60 !important;
}

.bg--purple {
    background: #ab26aa !important;
}

.bg--skyblue {
    background: #00acf0 !important;
}

.bg--orange {
    background: #ff6028 !important;
}

.bg--gold {
    background: #c1993f !important;
}

.bg--brown {
    background: #7a5449 !important;
}

.bg--beige {
    background: #f7ce99 !important;
}

.bg--light {
    background: #fff !important;
}
.bg--violet {
    background: #6640b2 !important;
}
.bg--dark {
    background: #272B34 !important;
}

.bg--twitter {
    background: #00aced !important;
}
.bg--facebook {
    background: #4267b2 !important;
}
.bg--navyblue{
    background: #243f6b !important;
}
.bg-fafafa {
    background: #fafafa !important;
}
.bg--transparent {
    background: transparent !important;
}
/*=============================================
=            Text color CSS          =
=============================================*/

.txt--dark {
    color: #272B34 !important;
}

.txt--light {
    color: #fff !important;
}

.txt--grey {
    color: #727272 !important;
}

.txt--lgrey {
    color: rgb(204, 204, 204)!important;
}

.txt--info{
    color: #ed1b60 !important;
}

.txt--warning{
    color: #ffbf36 !important;
}

.txt--primary{
    color: #1565c0  !important;
}

.txt--success{
    color: #22af47 !important;
}

.txt--danger{
    color: #f83f37 !important;
}
.txt--yellow{
    color: #ffbf36 !important;
}

.txt--purple {
    color: #ab26aa !important;
}

.txt--violet {
    color: #6640b2 !important;
}

.txt--skyblue {
    color: #00acf0 !important;
}

.txt--beige {
    color: #f7ce99 !important;
}

.txt--gold {
    color: #c1993f !important;
}

.txt--brown {
    color: #7a5449 !important;
}

.txt--orange {
    color: #e7711b !important;
}
.txt--navyblue{
    color: #4285f4 !important;
}
.txt--blue{
    color: #4982b9 !important;
}
.txt--gblue{
    color: #1967d2 !important;
}
.txt--green{
    color: #22af47 !important;
}
.txt--center{
    text-align: center!important;
}
.txt--left{
    text-align: left!important;
}
.txt--right{
    text-align: right!important;
}
.txt--justify{
    text-align: justify!important;
}
.txt--disabled{
    opacity: 0.65!important; 
    cursor: not-allowed;
}
.txt--error{color: #f83f37;}
.has--error{border-color: rgba(248, 63, 55, 0.5)!important;}
.fill--grey {
    fill: #727272;
}
.txt--underline {
    text-decoration: underline;
}
.txt--uppercase {
    text-transform: uppercase;
}
/*=============================================
=            Font size CSS            =
=============================================*/

.font--10 {
    font-size: 10px !important;
}

.font--11 {
    font-size: 11px !important;
}

.font--12 {
    font-size: 12px !important;
}

.font--13 {
    font-size: 13px !important;
}

.font--14 {
    font-size: 14px !important;
}

.font--15 {
    font-size: 15px !important;
}

.font--16 {
    font-size: 16px !important;
}

.font--18 {
    font-size: 18px !important;
}

.font--20 {
    font-size: 20px !important;
}

.font--21 {
    font-size: 21px !important;
}

.font--22 {
    font-size: 22px !important;
}

.font--24 {
    font-size: 24px !important;
}

.font--26 {
    font-size: 26px !important;
}

.font--28 {
    font-size: 28px !important;
}

.font--32 {
    font-size: 32px !important;
}
.font--34 {
    font-size: 34px !important;
}
.font--36 {
    font-size: 36px !important;
}
.font--38 {
    font-size: 38px !important;
}
.font--40 {
    font-size: 40px !important;
}
.font--48 {
    font-size: 48px !important;
}

/*=============================================
=            Font weight CSS            =
=============================================*/

.weight--300 {
    font-weight: 300 !important;
}

.weight--500 {
    font-weight: 500 !important;
}

.weight--600 {
    font-weight: 600 !important;
}
.capitalize--font {
    text-transform: capitalize !important;
}

.uppercase--font {
    text-transform: uppercase !important;
}

.nonecase--font {
    text-transform: none !important;
}

.inline--block {
    display: inline-block !important;
}

.block {
    display: block !important;
}
.hide {
    display: hide !important;
}
.display--none{
    display: none !important;
}

/*=============================================
=            Flexbox Grid           =
=============================================*/

.flex {
    display: -webkit-box ;
    display: -ms-flexbox ;
    display: flex ;
}
.flex-wrap{
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-middle {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.space--between{
    justify-content: space-between;
}
.flex--auto{
    flex:1;
}
.flex--300{
    flex:0 0 300px;
}
.flex--200{
    flex:0 0 200px;
}
.flex--150{
    flex:0 0 150px;

}
.flex--100{
    flex:0 0 100px;

}
.table-struct {
    display: table !important;
}

.table-cell {
    display: table-cell !important;
}
/*=============================================
=            Vertical item           =
=============================================*/
.vertical-align-top {
    vertical-align: top !important;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.vertical-align-bottom {
    vertical-align: bottom !important;
}

.full-width {
    width: 100% !important;
}

.half-width {
    width: 50% !important;
}
.w--20p {
    width: 20%;
}
.w--40p {
    width: 40%;
}
.w--80{
    width: 80px !important; 
}
.w--90{
    width: 90px !important; 
}
.w--100{
    width: 100px !important;
}
.w--105{
    width: 105px !important;
}
.w--115{
    width: 115px !important;
}
.w--120{
    width: 120px !important;
}
.w--130{
    width: 130px !important;
}
.w--135{
    width: 135px !important;
}
.w--140{
    width: 140px !important;
}
.w--150{
    width: 150px !important;
}
.w--200{
    width: 200px !important; 
}
.w--210{
    width: 210px !important;
}
.w--300{
    width: 300px !important; 
}
.w--350{
    width: 350px !important; 
}
.w--500 {
    width: 500px !important;
}
.w--600{
    width: 600px !important; 
}
.w--800{
    width: 800px !important; 
}
.auto-width {
    width: auto !important;
}
.height--28 {
    height: 28px !important;
}
.height--30 {
    height: 30px !important;
}
.height--34 {
    height: 34px !important;
}
.height--80 {
    height: 80px !important;
}
.height--120 {
    height: 120px !important;
}
.height--600 {
    height: 600px !important;
}
.height--400 {
    height: 400px !important;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}
.border-none {
    border: none !important;
}
.border--bottom {
    border-bottom: 1px solid #e8e8e8 !important;
}
.border--left {
    border-left: 1px solid #e8e8e8;
}
.border--right {
    border-right: 1px solid #e8e8e8;
}
.border {
    border: 1px solid #e7ecf1 !important;
}
/*=============================================
=            Cut String CSS           =
=============================================*/
.truncate {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tbl-truncate{
    position: relative;
    min-height: 20px;
}
.row--truncate,.link--truncate {
    position: absolute;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis;
    top:50%;
    transform: translateY(-50%);
}
.link--truncate{
    max-width: 50%;
}
.html__truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 104px;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    height:45px;
}
hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
}

/*=============================================
=           Buttons           =
=============================================*/
.btn.active, .btn:active{
    box-shadow: none;
}
.btn {
    color: #fff;
    padding: 10px 25px;
    text-transform: capitalize;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.btn.btn--rounded{
    border-radius: 60px;  
}
.btn:focus{
    outline: none;
    color: #fff;
} 
.btn.btn--default{
    background: gainsboro;
    border: solid 1px gainsboro;
    color: #272B34; 
} 
.btn.btn--default:hover{
    background: rgba(220, 220, 220, 0.85);
    border: solid 1px rgba(220, 220, 220, 0.1);
}
.btn.btn--dark{
    background: #272b34;
    border: solid 1px #272b34; 
}
.btn.btn--dark:hover{
    background: rgba(39, 43, 52, 0.85);
    border: solid 1px rgba(39, 43, 52, 0.1);
    color: #fff;
}
.btn.btn--orange{
    background: #ff6028;
    border: solid 1px #ff6028; 
}
.btn.btn--orange:hover{
    background: rgba(255, 96, 40, 0.85);
    border: solid 1px rgba(255, 96, 40, 0.1);
    color: #fff;
}
.btn.btn--info{
    background: #5cc9e8;
    border: solid 1px #5cc9e8;   
}
.btn.btn--info:hover{
    background: rgba(92, 201, 232, 0.85);
    border: solid 1px rgba(92, 201, 232, 0.1); 
    color: #fff;
}
.btn.btn--primary{
    background: #1565c0;
    border: solid 1px #1565c0;
}
.btn.btn--primary:hover{
    background: rgba(21, 101, 192, 0.85);
    border: solid 1px rgba(21, 101, 192, 0.1);  
    color: #fff;
}
.btn.btn--success{
    background: #22af47;
    border: solid 1px #22af47; 
}
.btn.btn--success:hover{
    background: rgba(34, 175, 71, 0.85);
    border: solid 1px rgba(34, 175, 71, 0.1);  
    color: #fff;
}
.btn.btn--danger{
    background: #f83f37;
    border: solid 1px #f83f37;  
}
.btn.btn--danger:hover{
    background: rgba(248, 63, 55, 0.85);
    border: solid 1px rgba(248, 63, 55, 0.1);
    color: #fff;
}
.btn.btn--warning{
    background: #ffbf36;
    border: solid 1px #ffbf36;
}
.btn.btn--warning:hover{
    background: rgba(255, 191, 54, 0.85);
    border: solid 1px rgba(255, 191, 54, 0.1);  
    color: #fff;
}
.btn.btn--white{
    background: white;
    color: #56d365 !important;  
    border: solid 1px rgba(255, 255, 255, 1);
}
.btn.btn--white:hover{
    background: rgba(255, 255, 255, 0.85);
    border: solid 1px rgba(255, 255, 255, 0.1); 
}
.btn.btn--navyblue {
    background: #4285f4;
    border: solid 1px #4285f4;
}
.btn.btn--navyblue:hover {
    background: #4285f4;
    border: solid 1px #4285f4;
    color: #fff;
}
.btn.btn--outline{
    background: transparent !important;
}
.btn.btn--outline:hover{
    background: transparent !important;
    border: solid 1px white;   
}
.btn.btn--outline.btn--default{
    border: solid 1px rgba(220, 220, 220, 0.5);
    color: #272B34; 
}
.btn.btn--outline.btn--default:hover{
    border: solid 1px gainsboro; 
}
.btn.btn--outline.btn--dark{
    border: solid 1px rgba(39, 43, 52, 0.5);
    color: #272B34; 
}
.btn.btn--outline.btn--dark:hover{
    border: solid 1px rgba(39, 43, 52, 1);
}
.btn.btn--outline.btn--orange{
    border: solid 1px rgba(255, 96, 40, 0.5);
    color: #ff6028;  
} 
.btn.btn--outline.btn--orange:hover{
    border: solid 1px #ff6028;
    color: #ff6028; 
}
.btn.btn--outline.btn--info{
    border: solid 1px rgba(237, 27, 96, 0.5);
    color: #ed1b60;  
}
.btn.btn--outline.btn--info:hover{
    border: solid 1px #ed1b60; 
}
.btn.btn--outline.btn--primary{
    border: solid 1px #4285f4;
    color: #4285f4; 
}
.btn.btn--outline.btn--primary:hover{
    border: solid 1px rgba(66, 133, 244, 0.8); 
}
.btn.btn--outline.btn--success{
    border: solid 1px rgba(34, 175, 71, 0.5);
    color: #22af47; 
}
.btn.btn--outline.btn--success:hover{
    border: solid 1px #22af47; 
}
.btn.btn--outline.btn--danger{
    border: solid 1px rgba(248, 63, 55, 0.5);
    color: #f83f37;
}
.btn.btn--outline.btn--danger:hover{
    border: solid 1px #f83f37; 
}
.btn.btn--outline.btn--warning{
    border: solid 1px rgba(255, 191, 54, 0.5);
    color: #ffbf36;  
}
.btn.btn--outline.btn--warning:hover{
    border: solid 1px #ffbf36; 
}
.btn.btn--outline.btn--outline-white{
    border: solid 1px rgba(255, 255, 255, 0.5);
    color: white !important; 
}
.btn.btn--outline.btn--outline-white:hover{
    border: solid 1px white;
}
.btn.btn--lg{
    padding: 12px 25px;  
}
.btn.btn--sm{
    padding: 6px 25px; 
}
.btn.btn--xs{
    padding: 4px;
    min-width: 60px;
}
.btn.btn--icon i{
    padding-right: 6px;
    font-size: 14px; 
}
.btn.btn--icon.right-icon i{
    padding-left: 6px; 
}
.btn.btn--icon.left-icon i{
    padding-right: 6px;
}
.btn.btn-icon--anim {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 11px;
    background: transparent;
}
.btn.btn-icon--anim:hover {
    background: transparent;
    border: none;
}
.btn.btn-icon--anim i {
    font-size: 16px;
}
.btn.btn-icon--anim:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: color 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s, box-shadow 0.3s ease 0s, -moz-transform 0.3s ease 0s;
    transition: color 0.3s ease 0s, box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.btn.btn-icon--anim.btn--default:before {
    box-shadow: 0 0 0 35px gainsboro inset;
}
.btn.btn-icon--anim.btn--default:hover {
    color: #272B34 !important;
}
.btn.btn-icon--anim.btn--default:hover:before {
    box-shadow: 0 0 0 1px gainsboro inset;
}
.btn.btn-icon--anim.btn--info:before {
    box-shadow: 0 0 0 35px #ed1b60 inset;
}
.btn.btn-icon--anim.btn--info:hover {
    color: #ed1b60 !important;
}
.btn.btn-icon--anim.btn--info:hover:before {
    box-shadow: 0 0 0 1px #ed1b60 inset;
}
.btn.btn-icon--anim.btn--primary:before {
    box-shadow: 0 0 0 35px #0092ee inset;
}
.btn.btn-icon--anim.btn--primary:hover {
    color: #0092ee !important;
}
.btn.btn-icon--anim.btn--primary:hover:before {
    box-shadow: 0 0 0 1px #0092ee inset;
}
.btn.btn-icon--anim.btn--success:before {
    box-shadow: 0 0 0 35px #22af47 inset;
}
.btn.btn-icon--anim.btn--success:hover {
    color: #22af47 !important;
}
.btn.btn-icon--anim.btn--success:hover:before {
    box-shadow: 0 0 0 1px #22af47 inset;
}
.btn.btn-icon--anim.btn--danger:before {
    box-shadow: 0 0 0 35px #f83f37 inset;
}
.btn.btn-icon--anim.btn--danger:hover {
    color: #f83f37 !important;
}
.btn.btn-icon--anim.btn--danger:hover:before {
    box-shadow: 0 0 0 1px #f83f37 inset;
}
.btn.btn-icon--anim.btn--warning:before {
    box-shadow: 0 0 0 35px #ffbf36 inset;
}
.btn.btn-icon--anim.btn--warning:hover {
    color: #ffbf36 !important;
}
.btn.btn-icon--anim.btn--warning:hover:before {
    box-shadow: 0 0 0 1px #ffbf36 inset;
}
.btn.btn--circle {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
}
.btn.btn--circle:before {
    border-radius: 50%; 
}
.btn.btn--round{
    padding: 4px;
    border:2px solid #ccc;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
}
.btn.bg--grey:hover{
    background: #fff!important;
    color: #727272 ;
}
.btn.bg--danger:hover{
    background: #fff!important;
    color: #f83f37 ;
}
.btn.btn--lg{
    padding:12px 25px;
    font-size: 18px;
}

.btn.btn__table {
    background: transparent;
    border: 1px solid transparent;
    color: #4a4a4a;
    padding:4px 10px;
    min-width: auto !important;
}
.btn__table.btn--danger {
    color: #f83f37;
}
.btn__table.btn--danger:hover {
    color: #fff;
    background: #f83f37;
    border: solid 1px #f83f37;
}
.btn__table.btn--dark {
    color: #272B34;
}
.btn__table.btn--dark:hover {
    color: #fff;
    background: #272b34;
    border: solid 1px #272b34;
}
.btn__table.btn--orange{
    color: #ff6028;
}
.btn__table.btn--orange:hover{
    background: rgba(255, 96, 40, 0.85);
    border: solid 1px rgba(255, 96, 40, 0.1);
    color: #fff;
}
.btn__table.btn--info{
    color: #5cc9e8;
}
.btn__table.btn--info:hover{
    background: rgba(0, 100, 100, 0.85);
    border: solid 1px rgba(0, 100, 100, 0.1); 
    color: #fff;
}
.btn__table.btn--primary{
    color: #1565c0;
}
.btn__table.btn--primary:hover{
    background: rgba(21, 101, 192, 0.85);
    border: solid 1px rgba(21, 101, 192, 0.1);  
    color: #fff;
}
.btn__table.btn--success{
    color: #22af47;
}
.btn__table.btn--success:hover{
    background: rgba(34, 175, 71, 0.85);
    border: solid 1px rgba(34, 175, 71, 0.1);  
    color: #fff;
}
.btn__table.btn--warning{
    color: #ffbf36;
}
.btn__table.btn--warning:hover{
    background: rgba(255, 191, 54, 0.85);
    border: solid 1px rgba(255, 191, 54, 0.1);  
    color: #fff;
}
.btn__table.btn--navyblue {
    color: #4285f4;
}
.btn__table.btn--navyblue:hover {
    background: #4285f4;
    border: solid 1px #4285f4;
    color: #fff;
}
.btn.btn--disabled {
    opacity: 0.65; 
    cursor: not-allowed;
}
.cursor--pointer{
    cursor: pointer;
}
.btn.btn--disabledIcon {
    width: 30px;
    height: 29px;
    font-size: 16px;
    padding: 0px;
    line-height: 25px;
}

/*=============================================
=            Checkbox CSS            =
=============================================*/
.checkbox+.checkbox, .radio+.radio {
    margin-top: 10px;
}
.checkbox, .radio {
    padding-left: 20px;
}
.checkbox label,
.radio label  {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    cursor: pointer;
}
.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"] {
    width: 17px;
    height: 17px;
}
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.radio label::before {
    content: "";
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 2px;
    z-index: 5;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #ccc;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    z-index: 6;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 5px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio-info input[type="radio"] + label::after {
    background-color: #555;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #555;
}
.checkbox label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 0;
    top:3px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 0;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox--primary input[type="checkbox"]:checked + label::after,
.checkbox--primary input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox input[type="checkbox"]:focus+label::before,
.checkbox input[type="radio"]:focus+label::before,
.radio input[type="radio"]:focus+label::before {
    outline: none;
}

.checkbox--primary input[type="checkbox"]:checked+label::before,
.checkbox--primary input[type="radio"]:checked+label::before {
    background-color: #1565c0 ;
    border-color: #1565c0 ;
}

.checkbox--danger input[type="checkbox"]:checked+label::before,
.checkbox--danger input[type="radio"]:checked+label::before {
    background-color: #f83f37;
    border-color: #f83f37;
}

.checkbox--info input[type="checkbox"]:checked+label::before,
.checkbox--info input[type="radio"]:checked+label::before {
    background-color: #ed1b60;
    border-color: #ed1b60;
}

.checkbox--warning input[type="checkbox"]:checked+label::before,
.checkbox--warning input[type="radio"]:checked+label::before {
    background-color: #ffbf36;
    border-color: #ffbf36;
}

.checkbox--success input[type="checkbox"]:checked+label::before,
.checkbox--success input[type="radio"]:checked+label::before {
    background-color: #22af47;
    border-color: #22af47;
}
.checkbox.chk--disabled label:before,.checkbox.chk--disabled label:after {
    cursor: not-allowed; 
    z-index: 999;
    opacity:0.6; 
    background: #eee;   
}
/* .checkbox-primary input[type="checkbox"]:indeterminate+label::before,
.checkbox-primary input[type="radio"]:indeterminate+label::before {
    background-color: #1565c0 ;
    border-color: #1565c0 ;
}

.checkbox-danger input[type="checkbox"]:indeterminate+label::before,
.checkbox-danger input[type="radio"]:indeterminate+label::before {
    background-color: #f83f37;
    border-color: #f83f37;
}

.checkbox-info input[type="checkbox"]:indeterminate+label::before,
.checkbox-info input[type="radio"]:indeterminate+label::before {
    background-color: #ed1b60;
    border-color: #ed1b60;
}

.checkbox-warning input[type="checkbox"]:indeterminate+label::before,
.checkbox-warning input[type="radio"]:indeterminate+label::before {
    background-color: #ffbf36;
    border-color: #ffbf36;
}

.checkbox-success input[type="checkbox"]:indeterminate+label::before,
.checkbox-success input[type="radio"]:indeterminate+label::before {
    background-color: #22af47;
    border-color: #22af47;
} */

.checkbox input[type="checkbox"]:checked:disabled + label::after {
    color: #ccc;
}

.radio--primary input[type="radio"]+label::after {
    background-color: #1565c0 ;
}

.radio--primary input[type="radio"]:checked+label::before {
    border-color: #1565c0 ;
}

.radio--primary input[type="radio"]:checked+label::after {
    background-color: #1565c0 ;
}

.radio--danger input[type="radio"]+label::after {
    background-color: #f83f37;
}

.radio--danger input[type="radio"]:checked+label::before {
    border-color: #f83f37;
}

.radio--danger input[type="radio"]:checked+label::after {
    background-color: #f83f37;
}

.radio--info input[type="radio"]+label::after {
    background-color: #ed1b60;
}

.radio--info input[type="radio"]:checked+label::before {
    border-color: #ed1b60;
}

.radio--info input[type="radio"]:checked+label::after {
    background-color: #ed1b60;
}

.radio--warning input[type="radio"]+label::after {
    background-color: #ffbf36;
}

.radio--warning input[type="radio"]:checked+label::before {
    border-color: #ffbf36;
}

.radio--warning input[type="radio"]:checked+label::after {
    background-color: #ffbf36;
}

.radio--success input[type="radio"]+label::after {
    background-color: #22af47;
}

.radio--success input[type="radio"]:checked+label::before {
    border-color: #22af47;
}

.radio--success input[type="radio"]:checked+label::after {
    background-color: #22af47;
}

/*=============================================
=            Custom Loading Page            =
=============================================*/

.load-page {
    background: #fff;
    position: fixed;
    z-index: 10001;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    pointer-events: none;
}

.loading::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    content: '';
    opacity: 0;
    background: #1976d2;
    -webkit-transition: opacity 0.2s, box-shadow 2s 4s;
    -moz-transition: opacity 0.2s, box-shadow 2s 4s;
    transition: opacity 0.2s, box-shadow 2s 4s;
    -webkit-transform: rotate(2deg) translateY(-2px);
    -moz-transform: rotate(2deg) translateY(-2px);
    -ms-transform: rotate(2deg) translateY(-2px);
    -o-transform: rotate(2deg) translateY(-2px);
    transform: rotate(2deg) translateY(-2px);
}

.loading.la--animate {
    z-index: 10001;
    background: #1976d2;
    opacity: 1;
    -webkit-transition: -webkit-transform 5s ease-in, opacity 1s 5s;
    -moz-transition: -moz-transform 5s ease-in, opacity 1s 5s;
    transition: transform 5s ease-in, opacity 1s 5s;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.loading.la--animate::after {
    opacity: 1;
}
/*=============================================
=            Loading function         =
=============================================*/
.loading-page {
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
    left: 0;
    opacity: 0.8;
}
.loading-box {
    position: absolute;
    z-index: 90;
}

.loading-center--absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 95;
}
.object {
    width: 20px;
    height: 20px;
    background-color: red;
    float: left;
    margin-right: 20px;
    margin-top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}
.object--one {
    -webkit--animation: object--one 1.5s infinite;
    animation: object--one 1.5s infinite;
}
.object--two {
    -webkit--animation: object--two 1.5s infinite;
    animation: object--two 1.5s infinite;
    -webkit--animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.object--three {
    -webkit--animation: object--three 1.5s infinite;
    animation: object--three 1.5s infinite;
    -webkit--animation-delay: 0.5s;
    animation-delay: 0.5s;
}
@-webkit-keyframes object--one {
    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object--one {

    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes object--two {


    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object--two {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes object--three {

    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object--three {

    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
/*=============================================
=            Form CSS            =
=============================================*/
.form-control {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #272B34;
    height: 34px;
}
.form-control:focus {
    border-color: rgba(33, 33, 33, 0.3);
    box-shadow: none;
    outline: 0 none;
}
.control-label {
    color: #272B34;
}
select.form-control {
    height: 34px;
    line-height: 34px;
}
select {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0 !important;
    background-color: #fff;
    box-shadow: none;
    color: #272B34;
}
textarea {
    resize: none;
}
/*=============================================
=            triangle,rotate CSS            =
=============================================*/
.triangle {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #dcdcdc; 
}
.triangle--rotate{
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Safari 3-8 */
    transform: rotate(135deg);
}
.triangle--green{
    border-right-color: #22af47;
}
.triangle--danger{
    border-right-color: #f83f37;
}
.triangle--yellow{
    border-right-color: #ffbf36;
}
.triangle--blue{
    border-right-color:#1565c0;
}
/*=============================================
=            Badge           =
=============================================*/
.badge {
    background-color: #DCDCDC;
    font-weight: 400;
    padding: 5px 10px;
    color: #272B34;
}

.badge.badge--info {
    background: #ed1b60;
    color: #fff;
}

.badge.badge--primary {
    background: #1565c0 ;
    color: #fff;
}

.badge.badge--success {
    background: #22af47;
    color: #fff;
}

.badge.badge--danger {
    background: #f83f37;
    color: #fff;
}

.badge.badge--warning {
    background: #ffbf36;
    color: #fff;
}

.badge.transparent-badge {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}

.badge.transparent-badge.badge--info {
    color: #ed1b60;
}

.badge.transparent-badge.badge--primary {
    color: #1565c0 ;
}

.badge.transparent-badge.badge--success {
    color: #22af47;
}

.badge.transparent-badge.badge--danger {
    color: #f83f37;
}

.badge.transparent-badge.badge--warning {
    color: #ffbf36;
}
.badge--sm {
    padding: 3px 5px;
}
.mark, mark{
    padding:3px;  
}
.font--italic {
    font-style: italic !important;
}
.txt--breakword{
    word-wrap: break-word; 
}

.disabled {
    cursor: not-allowed !important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.box-shadow-none {
    box-shadow: none!important;
}
.nowrap {
    white-space: nowrap !important;
}
.max-w300 {
    max-width: 300px!important;
}
.max-w600 {
    max-width: 600px!important;
}
