/*=============================================
=            COMMON CSS            =
=============================================*/
/*=============================================
=           LANGUAGE HEADER            =
=============================================*/
.flag__header .btn-group.bootstrap-select {
    width: auto !important;
    margin-top: 28px;
}
.flag__header button.btn.dropdown-toggle.btn-default {
    background: transparent;
    border: 0;
}
.flag__header .flat_googlecojp,
.flag__header .flat_googlecomvn,
.flag__header .flat_googlecom {
    margin-right: 0;
}
.flag__header .bootstrap-select.btn-group .btn .caret {
    color: #fff;
}
.flag__header .bootstrap-select.btn-group .btn .filter-option {
    text-indent: -999px;
}
.flag__header .bootstrap-select.btn-group .dropdown-menu {
    width: 160px;
}
.flag__header .bootstrap-select.btn-group .dropdown-menu li a span.text {
    margin-left: 10px;
}

/*=============================================
=            BUTTON LOG OUT         =
=============================================*/
.btn--logout {
    background: transparent;
    border: none;
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    color: #272B34;
    padding: 5px 20px;
    width: 100%;
    text-align: left;
}
.btn--logout .fa {
    color: #727272;
    font-size: 18px;
    margin-right: 10px;
    width: 18px;
    float: left;
}
.btn--logout:hover {
    color: #272B34;
    background: rgba(33, 33, 33, 0.05);
}

/*=============================================
=            LANGUAGE FLAG          =
=============================================*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 170px;
}
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover{
    box-shadow: none;
    background-color: #f4f5f8;
    border-color: rgba(33, 33, 33, 0.3);
}
.bootstrap-select .btn:focus{
    outline: none!important;
}
.bootstrap-select.btn-group .btn .filter-option{
    color: #272B34;
}
button.btn.dropdown-toggle.btn-default {
    box-shadow: none;
    background-color: #f4f5f8;
    color: #272B34;
    padding-left: 20px;
    border:1px solid rgba(33, 33, 33, 0.12);
    border-right: 0px;
    padding: 4px 25px;
}
.flat_googlecojp {
    background-image:url(../img/flagJp.png);
    width:22px;
    height:15px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
.flat_googlecomvn {
    background-image:url(../img/flagVn.png);
    width:22px;
    height:15px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
.flat_googlecom {
    background-image:url(../img/flagUs.png);
    width:22px;
    height:15px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

/*=============================================
=           LANGUAGE FLAG LAYOUT 2           =
=============================================*/
.flag_layout2 {
    position: absolute;
    margin-right: 20px;
    margin-top: 20px;
    right: 0;
    top: 0;
}
.flag_layout2 button.btn.dropdown-toggle.btn-default {
    border-right: 1px solid rgba(33, 33, 33, 0.12);
}/*

/*=============================================
=            SCROLL TOP HEADER CSS         =
=============================================*/
.bg--header{
    background: #334056;
}
.navbar .nav>li .dropdown-menu.user-auth-dropdown{
    z-index: 1000;
}
.fixed-sidebar-left.is-sticky{
    position: fixed;
    top:0;
    background:#334056 ;
}
.fixed-sidebar-left.is-sticky .side-nav>li>a,
.fixed-sidebar-left.is-sticky .side-nav li a .pull-left>i,
.fixed-sidebar-left.is-sticky .side-nav li a .pull-right i{
    color: #fff;
}
.fixed-sidebar-left.is-sticky .side-nav>li>a:hover, 
.fixed-sidebar-left.is-sticky .side-nav>li>a:focus, 
.fixed-sidebar-left.is-sticky .side-nav>li>a:active{
    background: #43526d;
    color: #fff;
}
.fixed-sidebar-left.is-sticky .side-nav>li>a.active, 
.fixed-sidebar-left.is-sticky .side-nav li a.active .pull-left>i{
    background: #43526d;
    color: #fff;
}
.fixed-sidebar-left.is-sticky .side-nav li a:hover .pull-left>i{
    color: #fff;
}
.fixed-sidebar-left .side-nav .two-col-list > li{
    width:500px;
}
.horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1.two-col-list{
    left: auto;
    right: 0;
}
.horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1.two-col-list li{
    position: relative;
}
.horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1.two-col-list li:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #e7ecf1;
    right:0px;
}
.card-view.panel .panel-body.panel-content{
    padding:15px;
    border:1px solid #e7ecf1;
}
/*=============================================
=            TABLE CSS            =
=============================================*/
.table-bordered, .table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th {
    border: 1px solid #eee;
}
.table > thead > tr > th,
.table > tfoot > tr > th {
    border-bottom: 1px solid #eee !important;
    color: #272B34;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th,
.table > tfoot > tr > th {
    padding: 10px;
    border-top: 1px solid #eee;
    vertical-align: middle;
}
/*=============================================
=            AVATAR TABLE CSS            =
=============================================*/
.avatar__table, .avatar__home {
    display: flex;
    align-items: center;
}
.avatar__table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.avatar__home img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
/*=============================================
=       ERROR 500 404 403 CSS            =
=============================================*/
.error-bg-img {
    background: url(../img/errorbg.jpg);
    background-size: cover;
}
.error-head {
    font-size: 112px;
    font-style: italic;
    line-height: 112px;
}

/*=============================================
=            NO DATA CSS         =
=============================================*/
.no-data{
    border:1px solid #eee;
    padding: 15px;
}
.no-data img {
    width: 205px;
}
/*=============================================
=            ON/OFFSWITCH           =
=============================================*/
.onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    display: inline-block;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "On";
    padding-left: 14px;
    background-color: #EEEEEE; color: #243f6b;
}
.onoffswitch-inner:after {
    content: "Off";
    padding-right: 14px;
    background-color: #EEEEEE; color: #ff3e3e;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #ff3e3e;
    position: absolute; top: 0; bottom: 0;
    right: 33px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #243f6b; 
}


/*=============================================
=            PRIVACY AND SERVICE            =
=============================================*/
.info-A4{
    padding-left: 15%!important;
    padding-right: 15%!important;
    text-align: justify;
}
.cover-popper .popover{
    width: 400px!important;
}
.post-refesh{
    position:absolute; 
    width:40px;
    height:40px;
    left: 40%;
    z-index: -1;  
}
.opacity--hidden--input{ 
    opacity: 0; 
    position: absolute; 
    top: -9999px; 
    left: -9999px;
}
.hide__select--arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';   
}
/*=============================================
=            ALL PLUGINS CSS            =
=============================================*/


/*=============================================
=            DATATABLE CSS            =
=============================================*/
.table-wrap .dataTables_filter,
.table-wrap .dataTables_length {
    margin-bottom: 30px;
}

.table-wrap .dataTables_length, 
.table-wrap .dataTables_filter {
    margin-bottom: 14px;
    color: #727272;
}

.table-wrap .dataTables_info {
    color: #727272;
}

.table-wrap input,
.table-wrap select {
    height: 25px;
}

.table-wrap .dataTables_paginate .paginate_button.current,
.table-wrap .dataTables_paginate .paginate_button.current:hover, 
.table-wrap .dataTables_paginate .paginate_button:hover, 
.table-wrap .dataTables_paginate .paginate_button:active, 
.table-wrap .dataTables_paginate .paginate_button:focus {
    background: transparent;
    border-color: #243f6b;
    color: #243f6b !important;
    box-shadow: none;
    border-radius: 0;
}

.table-wrap .dataTables_length,
.table-wrap .dataTables_filter, 
.table-wrap .dataTables_info, 
.table-wrap .dataTables_processing, 
.table-wrap .dataTables_paginate {
    color: #272B34;
}
.table-wrap .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #eee; 
}
.table-wrap .dataTables_scrollHeadInner {
    background: #f1f1f1;
}

.table-wrap .dataTables_scrollHeadInner {
    background: #f1f1f1;
}

table.dataTable thead .sorting_asc {
    background-image: url(../img/expand_less_24px.svg);
    background-size: 20px;
    background-color: #eff4f9;
}
table.dataTable thead .sorting {
    background-image: url(../img/unfold_more_24px.svg);
    background-size: 20px;
}
table.dataTable thead .sorting_desc {
    background-image: url(../img/expand_more_24px.svg);
    background-size: 20px;
    background-color: #eff4f9;

}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    border-left: none;
    border-top: none;
    padding-right: 20px;
}
.table-wrap .dataTables_filter input,
.table-wrap .dataTables_length select {
    height: 28px;
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #272B34;
}
.table-wrap .dataTables_filter input{
    width: 191px;
}
.table-wrap .dataTables_filter input:focus,
.table-wrap .dataTables_length select:focus {
    border-color: rgba(33, 33, 33, 0.3);
    box-shadow: none;
    outline: 0 none;
}
table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-color: #eee;
    border-left: none;
    border-bottom: none;
}
table.dataTable {
    border-right: medium none !important;
}
table.dataTable > tfoot > tr > th {
    border-bottom: 0 solid #eee !important;
    border-left: medium none !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #eee;
}
.table > thead {
    background: #f1f1f1 !important;
}
.table-wrap table.dataTable.display tbody tr>.sorting_1,
.table-wrap table.dataTable.order-column.stripe tbody tr>.sorting_1 {
    background-color: #eff4f9;
}
.dataTables_wrapper .dataTables_scroll{
    margin-bottom: 15px;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected{
    background: rgba(195, 236, 255,0.3)!important;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr.selected.sel-top-3{
    background: #9ccc65!important;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr.selected.sel-top-10{
    background: #8bc34a!important;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr.selected.sel-top-30{
    background: #7cb342!important;
}
table.dataTable.display tbody>tr.selected>.sorting_1, table.dataTable.order-column.stripe tbody>tr.selected>.sorting_1{
    background-color: transparent!important;
}
/*=============================================
=            SUMMERNOTE       =
=============================================*/
.note-editor.note-frame .note-editing-area .note-editable{
    padding:15px;
}
.note-editable ol, .note-editable ul{
    padding:0 15px;
}
.note-editable ul{
    list-style: disc;
}
.note-editor.panel {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0px;
}
.note-editor.note-frame {
    border: 1px solid #eee;
}

.note-editor .note-toolbar.panel-heading {
    border: none;
}
.note-editor .note-btn.btn-sm,
.note-editor .wizard > .actions a.note-btn,
.wizard > .actions .note-editor a.note-btn {
    padding: 9px 15px;
    font-size: 14px;
}
.note-btn {
    text-transform: capitalize;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
.note-editor .btn.btn-default.note-btn.btn-sm {
    border: solid 1px rgba(220, 220, 220, 0.5);
    color: #272B34;
}
.note-editor .btn.btn-default.note-btn.btn-sm:hover,
.note-editor .btn.btn-default.note-btn.btn-sm:focus {
    background: transparent !important;
    outline: 0;
}
blockquote {
    padding: 15px 20px;
    margin: 0 0 20px;
    font-size: 16px;
    border-left: 4px solid #f83f37;
    background: #f7f7f9;
    color: #272B34;
}
.note-btn-group button.btn.dropdown-toggle.btn-default {
    padding: 9px 25px;
}

/*=============================================
=            MODAL CSS         =
=============================================*/
.modal-dialog .modal-content {
    border-radius: 0;
    border: none; }
.modal-dialog .modal-footer {
    border: none; 
}
.modal.fade.modal-off-animation .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.scroll-modal {
    max-height: 500px;
    overflow-y: scroll;
}
.modal-scroll{
    height:400px;
    overflow-y: auto;
}

@media (min-width: 768px){
    .modal-sm {
        width: 350px;
    }
}

/*=============================================
=         SWEET ALERT CSS      =
=============================================*/
.sweet-alert {
    border-radius: 0;
    font-family: inherit;
}

.sweet-alert h2 {
    font-weight: 400;
    color: #272B34;
    margin-top: 0px;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    line-height: 1.3;
    padding-bottom: 5px;
}
.sweet-alert p{
    line-height: 1.4em;
    text-align: left;
}
.sweet-alert button {
    box-shadow: none;
    font-size: inherit;
}
.sweet-alert button {
    color: #fff;
    min-width: 60px;
    padding: 4px;
    text-transform: capitalize;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sa-button-container{
    text-align: right;
}
.sa-button-container .cancel{
    background-color: rgba(220, 220, 220, 0.85) !important;
    color: #272B34;
}
.sweet-alert .sa-icon > span,
.sweet-alert .sa-icon > div {
    display: none !important;
}
.sweet-alert .sa-icon::before,
.sweet-alert .sa-icon::after {
    display: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-radius: 50%;
    position: static;
    width: 100%;
    height: 0;
    font-size: 30px;
    line-height: 45px;
    background: white;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    text-align: center;
    font-family: 'FontAwesome';
}
.sweet-alert .sa-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 15px;
    top: 40%;
    transform: translate(0, -42%);
}
.sweet-alert .sa-icon.sa-success:before {
    content: "\f00c";
    display: block;
    color: #80ce55;
}
.sweet-alert .sa-icon.sa-success {
    border-color: #80ce55;
}
.sweet-alert .sa-icon.sa-error {
    border-color: #f52424;
}
.sweet-alert .sa-icon.sa-warning {
    border-color: #ffbf36;
}
.sweet-alert .sa-icon.sa-error:before {
    content: "\f00d";
    display: block;
    color: #f52424;
}
.sweet-alert .sa-icon.sa-warning:before {
    content: "\f12a";
    display: block;
    color: #ffbf36;
}
.sweet-alert p {
    margin-left: 70px;
}
.sweet-alert .sa-confirm-button-container .confirm {
    background-color: #4285f4 !important;
    box-shadow: none !important;
}


/*=============================================
=            CUSTOM HIGHCHART CSS           =
=============================================*/
.highcharts--h400{
    min-height: 400px;
    position: relative;
    border:1px solid #e7ecf1; 
    margin-bottom: 30px;
    padding: 0 1px;
}
.highcharts--h400:before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 40px;
    background: rgba(231, 236, 241,0.5);
    z-index: 10;
    pointer-events:none;
    border-bottom: 1px solid #e7ecf1;
}
.highcharts-button-hover rect,
.highcharts-button-pressed rect{
    fill:transparent!important;
}
.highcharts-button text {
    font-family: 'Glyphicons Halflings';
    font-size: 1.2em;
    fill: #727272 !important;
}
path.highcharts-grid-line{
    stroke:none;
}

.highcharts-container {
    background: #fff url(../img/logochart.svg) no-repeat;
    background-position: center 46.5%;
    background-size: 300px;
}
.full-screen i{
    color:#727272;
}
.full-screen--post{
    position: absolute;
    top:23px;
    z-index: 10;
    right: 15px;
}
.full-screen--post,.full-screen--insights{
    position: absolute;
    top:80px;
    z-index: 10;
    right: 25px;
}
.full-screen--insights{
    top:10px;
}

/*=============================================
=            DATEPICKER SINGLE           =
=============================================*/
div#datepicker-dropdown{
    box-shadow: none!important;
    border-radius: 0px!important;
}
select.daterange-preset{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.btn.btn-mini{
    padding:6px 20px;
    border-radius: 0px!important;
}
.btn.btn-apply{
    background-color: #4285f4;
}
.btn.btn-cancel{
    background-color: gainsboro;
    color: #000;
    margin-right: 2px;
}

/*=============================================
=            PROFILE CSS           =
=============================================*/
.upload-img__input {
    opacity: 0;
    height: 1px;
    width: 1px;
}
.upload-img__button {
    display: inline-block;
    width: 160px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    background-color: #243f6b;
    border: 1px solid #243f6b;
}
.upload-img__name {
    width: 100%;
    padding: 0;
    text-align: left;
    display: inline-block;
    height: 35px;
    color: #23262B;
    line-height: 35px;
    background: #fff;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
}


/*=============================================
=            UPLOAD IMAGE            =
=============================================*/
.upload-file {
    height: 135px;
    margin: 0 auto;
    position: relative;
    width: 135px;
    border-radius:50%;
    text-align: center;
}
.upload-file:hover .upload-file__btn{
    display: block;
}
.upload-file__img img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
}
.upload-file__noimg {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
}

.upload-file__btn {
    width: 135px;
    height: 135px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(36, 63, 107, 0.5) !important;
    padding: 3px 10px;
    border: none !important;
    overflow: hidden;
    border-radius: 50%;
    line-height: 135px;
    display: none;

}
.upload-file__btn--text {
    color: #fff;
    font-size: 13px;
}
.upload-file__btn--upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: -3px;
    top: -3px;
    padding: 5px;
}
#pop_crop_img_avatar, #pop_crop_img_logo {
    width: 300px;
    padding: 15px;
    margin-top: 15px;
    display: none;
    position: absolute;
    z-index: 999;
    background: #fff;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    border: 1px solid #acacac;
}
#img_container_avatar_div, #img_container_logo_div {
    width: 267px;
    height: 267px;
    text-align: center;
}
.button-img {
    text-align: center;
    margin-top: 15px;
    display: block;
}

@media (max-width: 1200px) {
    .notify-box{
        margin-top: 0px;
    } 
    .fixed-sidebar-left.is-sticky{
        background: transparent;
    }
    .fixed-sidebar-left.is-sticky .side-nav>li>a,
    .fixed-sidebar-left.is-sticky .side-nav li a .pull-left>i,
    .fixed-sidebar-left.is-sticky .side-nav li a .pull-right i{
        color: #727272;
    }
    .fixed-sidebar-left.is-sticky .side-nav>li>a:hover, 
    .fixed-sidebar-left.is-sticky .side-nav>li>a:focus, 
    .fixed-sidebar-left.is-sticky .side-nav>li>a:active{
        background: transparent;
        color: #1565c0;
    }
    .fixed-sidebar-left.is-sticky .side-nav>li>a.active, 
    .fixed-sidebar-left.is-sticky .side-nav li a.active .pull-left>i{
        background: transparent;
        color: #1565c0;
    }
    .fixed-sidebar-left.is-sticky .side-nav li a:hover .pull-left>i{
        color: #1565c0;
    }
}
