
/*=============================================
=            Show scroll when body size = 1000px            =
=============================================*/

body.box-layout {
    min-width: 1024px;
    overflow-x: auto!important;
}

/*=============================================
=            Wrapper  Layout         =
=============================================*/
.wrapper {
    background: #fff;
}
.container {
    max-width: 1280px;
    width: 100%;
}

.page-wrapper {
    margin-left: 250px;
    padding: 85px 20px;
    position: relative;
    background: #f5f5f5;
    /*    -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;*/
    left: 0;
}

.horizontal-nav .page-wrapper {
    margin-left: 0;
    padding-top: 40px;
    left: 0;
} 
.horizontal-nav .nav-wrap {
    max-width: 1280px;
    margin: auto;
}
/*=============================================
=            Top Navigation           =
=============================================*/
.navbar {
    box-shadow: none;
    margin-bottom: 0;
    min-height: 85px;
    padding: 0 15px;
    border-radius: 0px;
}

.navbar .nav-header {
    width: 250px;
    padding-left: 15px;
    height: 85px;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    overflow: hidden;
}

.navbar .nav-header .logo-wrap {
    width: 100%;
    padding-top: 19px;
}

.navbar .nav-header .logo-wrap .brand-img {
    margin-right: 4px;
    position: relative;
    top: 0;
    display: none;
}

.navbar .nav-header .logo-wrap .brand-text {
    display: inline-block;
    color: #272B34;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 1;
    visibility: visible;
}

.navbar .nav>li.dropdown {
    position: relative;
}

.navbar .nav>li.full-width-drp {
    position: static;
}

.navbar .nav>li>a {
    color: #727272;
    background: transparent !important;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    padding: 0 9px;
    line-height: 85px;
}

.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus,
.navbar .nav>li>a:active {
    color: #272B34;
}

.navbar .nav>li>a .user-auth-img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 50%;
}

.no-auth-img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.navbar .nav>li .dropdown-menu.app-dropdown {
    min-width: 270px;
}

.navbar .nav>li .dropdown-menu.app-dropdown .connection-item {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: #727272;
    text-transform: capitalize;
    width: 80px;
}

.navbar .nav>li .dropdown-menu.app-dropdown .connection-item i {
    font-size: 25px;
    padding-bottom: 5px;
}

.navbar .nav>li .dropdown-menu.app-dropdown .connection-item:hover {
    color: #727272;
    background: rgba(33, 33, 33, 0.05);
}

.navbar .nav>li .dropdown-menu.app-dropdown .app-icon-wrap {
    text-align: center;
}

.navbar .nav>li .dropdown-menu.app-dropdown .app-icon-wrap>li {
    display: inline-block;
}

.navbar .nav>li .dropdown-menu.app-dropdown .app-box-bottom-wrap .read-all {
    padding: 5px 15px 0;
    font-size: 13px;
    color: #727272;
    text-transform: capitalize;
}

.navbar .nav>li .dropdown-menu.alert-dropdown {
    width: 400px;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .notification-box-head-wrap .notification-box-head {
    font-size: 16px;
    color: #272B34;
    display: block;
    text-transform: capitalize;
    padding: 7px 15px 10px;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .notification-box-head-wrap .clear-notifications {
    padding: 12px 15px 10px;
    text-transform: uppercase;
    font-size: 11px;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .notification-box-bottom-wrap .read-all {
    padding: 5px 15px 0;
    font-size: 13px;
    color: #727272;
    text-transform: capitalize;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline {
    height: 229px;
    position: relative;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item {
    margin-left: 0;
    border-left: none;
    padding: 7px 15px 0;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    transition: 0.2s ease;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item:hover {
    background: rgba(33, 33, 33, 0.05);
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item:before {
    display: none;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item>a {
    display: block;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item .icon {
    height: 44px;
    position: absolute;
    text-align: center;
    width: 44px;
    display: table;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item .icon i {
    font-size: 24px;
    vertical-align: middle;
    display: table-cell;
    color: #fff;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item .sl-avatar {
    left: auto;
    height: 44px;
    width: 44px;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item .sl-avatar img {
    height: 44px;
    width: 44px;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item .sl-content {
    margin-left: 60px;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item .sl-content>.head-notifications {
    width: 220px;
    font-size: 13px;
    font-weight: 500;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item .sl-content .notifications-time {
    color: #727272;
}

.navbar .nav>li .dropdown-menu.alert-dropdown .streamline .sl-item .sl-content>p {
    font-size: 13px;
    color: #727272;
}

.navbar .nav>li .dropdown-menu.user-auth-dropdown {
    min-width: 175px;
    text-transform: capitalize;
    padding: 0 !important;
}

.user-name-text {
    display: block;
    color: #272B34;
    padding: 5px 20px;
    font-weight: bold;
    background: #f3f3f3;
    text-transform: none;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar .nav.top-nav>li {
    float: left;
}

.navbar .nav.top-nav>li>a i.top-nav-icon {
    font-size: 23px;
    vertical-align: middle;
}

.navbar .nav.top-nav>li>a .top-nav-icon-badge {
    background: #ff6028;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    height: 20px;
    font-weight: 500;
    line-height: 19px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 22px;
    width: 20px;
}

.navbar .nav.navbar-right {
    margin-right: 0;
}

.navbar .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}



.slide-nav-toggle .navbar .nav-header .logo-wrap img.brand-img {
    display: inline-block;
}

.slide-nav-toggle.sidebar-hover .navbar .nav-header {
    width: 250px;
}

.slide-nav-toggle.sidebar-hover .navbar .nav-header .logo-wrap .brand-text {
    opacity: 1;
    visibility: visible;
}

.slide-nav-toggle.sidebar-hover .navbar .nav-header .logo-wrap img.brand-img {
    display: none;
}

.slide-nav-toggle .fixed-sidebar-left {
    width: 50px;
}

.slide-nav-toggle .fixed-sidebar-left .side-nav li.navigation-header>span {
    display: none;
}

.slide-nav-toggle .fixed-sidebar-left .side-nav li.navigation-header>hr {
    display: block;
}

.slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn {
    width: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 -5px;
}

.slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn .doc-large-btn {
    display: none;
}

.slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn .doc-small-btn {
    display: inline-block;
}

.slide-nav-toggle .fixed-sidebar-left .collapse.in {
    display: none;
}

.slide-nav-toggle .fixed-sidebar-left:hover {
    width: 250px;
}

.slide-nav-toggle .fixed-sidebar-left:hover .side-nav .documentation-btn {
    width: auto;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin: 0;
}

.slide-nav-toggle .fixed-sidebar-left:hover .side-nav .documentation-btn .doc-large-btn {
    display: inline-block;
}

.slide-nav-toggle .fixed-sidebar-left:hover .side-nav .documentation-btn .doc-small-btn {
    display: none;
}

.slide-nav-toggle .fixed-sidebar-left:hover .side-nav li.navigation-header>span {
    display: block;
}

.slide-nav-toggle .fixed-sidebar-left:hover .side-nav li.navigation-header>hr {
    display: none;
}

.slide-nav-toggle .fixed-sidebar-left:hover .collapse.in {
    display: block;
}

.slide-nav-toggle .fixed-sidebar-left:hover .right-nav-text {
    opacity: 1;
}

.slide-nav-toggle .fixed-sidebar-left .right-nav-text {
    opacity: 0;
}

.slide-nav-toggle .page-wrapper {
    margin-left: 50px;
}
.permission__menu {
    color: #ddd !important;
    cursor: not-allowed;
}
.permission__menu:hover {
    background: transparent !important;
}
/*=============================================
=            Section Left Sidebar Menu block            =
=============================================*/

.fixed-sidebar-left {
    position: absolute;
    top: 85px;
    left: 0;
    width: 250px;
    margin-left: 0;
    bottom: 0;
    z-index: 100;
    border: none;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.07);

}

.fixed-sidebar-left .right-nav-text {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease 0s;
    -moz-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
}

.fixed-sidebar-left .side-nav {
    border: none;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 0;
    margin: 0;
    overflow-y: auto;
    backface-visibility: hidden;
}

.fixed-sidebar-left .side-nav li {
    width: 250px;
}

.side-nav li.navigation-header>span,
.side-nav li.navigation-header>hr {
    padding: 11px 10px;
    background-color: #fafafa;
}
.fixed-sidebar-left .side-nav li.navigation-header>span {
    font-size: 10px;
    color: #adadad;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}

.fixed-sidebar-left .side-nav li.navigation-header>hr {
    display: none;
    width: 0;
    margin-left: 10px;
    margin-top: 17px;
    margin-bottom: 0;
    padding-bottom: 9px;
    border-top: 1px solid rgba(173, 173, 173, 0.2);
}

/*.fixed-sidebar-left .side-nav li a[aria-expanded="true"] {
    background: rgba(33, 33, 33, 0.05);
}

.fixed-sidebar-left .side-nav li a[aria-expanded="true"]>i {
    color: #e2724c;
}

.fixed-sidebar-left .side-nav li a[aria-expanded="true"] .pull-right i:before {
    content: "\f106";
}*/

.fixed-sidebar-left .side-nav li a {
    width: 100%;
    text-transform: capitalize;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}

.fixed-sidebar-left .side-nav li a .pull-left>i {
    font-size: 18px;
    width: 18px;
    color: #727272 ;
    display: inline-block;
    position: relative;
}

.fixed-sidebar-left .side-nav li a .pull-right i {
    color: #727272;
}

.fixed-sidebar-left .side-nav>li>a {
    color: #727272;
    padding: 15px 10px;
}

.fixed-sidebar-left .side-nav li a:hover .pull-left>i {
    color: #1565c0;
}
.fixed-sidebar-left .side-nav>li>a:hover,
.fixed-sidebar-left .side-nav>li>a:focus,
.fixed-sidebar-left .side-nav>li>a:active {
    background: rgba(33, 33, 33, 0.05);
    color: #1565c0;
}

.fixed-sidebar-left .side-nav>li a.active-page {
    background: rgba(33, 33, 33, 0.05);
}

.fixed-sidebar-left .side-nav>li>ul>li a {
    padding: 8px 15px 8px 51px;
    display: block;
    color: #727272;
    font-size: 14px;
}

.fixed-sidebar-left .side-nav>li>ul>li a:hover,
.fixed-sidebar-left .side-nav>li>ul>li a:focus,
.fixed-sidebar-left .side-nav>li>ul>li a:active {
    background: rgba(33, 33, 33, 0.05);
    color: #1565c0 ;
}

.fixed-sidebar-left .side-nav>li>ul>li>ul>li a {
    padding-left: 15px;
    color: #727272;
}

.fixed-sidebar-left .side-nav>li>ul>li>ul>li a:hover,
.fixed-sidebar-left .side-nav>li>ul>li>ul>li a:focus,
.fixed-sidebar-left .side-nav>li>ul>li>ul>li a:active {
    color: #1565c0 ;
}

.fixed-sidebar-left .side-nav>li>a.active,
.fixed-sidebar-left .side-nav li a.active .pull-left>i {
    color: #1565c0 ;
}

.fixed-sidebar-left .side-nav>li>a.active>i {
    color: #272B34;
}

.fixed-sidebar-left .side-nav>li ul.collapse li a.active {
    color: #1565c0;
    background: rgba(33, 33, 33, 0.05);
}

a.toggle-left-nav-btn,
a#toggle_mobile_nav{
    color: #727272;
    position: relative;
    display:table;
    margin-top:23px;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #fff;
}
.horizontal-nav a.toggle-left-nav-btn{
    visibility: hidden;
    opacity: 0;
}
a.toggle-left-nav-btn i,
a#toggle_mobile_nav i{
    font-size: 19px;
    vertical-align: middle;
    display: table-cell;
    color: #243f6b;
}

a#toggle_mobile_nav {
    display: inline-block;
}

.scrollable-nav {
    position: relative;
}

.scrollable-nav .fixed-sidebar-left,
.scrollable-nav  {
    position: absolute;
}



/*=============================================
=            Display card view Template            =
=============================================*/

.card-view {
    position: relative;
    background: #fff;
    margin-bottom: 12px;
    margin-left: -9px;
    margin-right: -9px;
    border: none;
    border-radius: 0;
    padding: 15px 15px 0;
}

.card-view.panel>.panel-heading {
    border: none;
    color: inherit;
    border-radius: 0;
    margin: -15px -15px 0;
    padding: 15px;
}

.card-view.panel>.panel-heading.small-panel-heading {
    padding: 11px 15px;
    border: none;
}

.card-view.panel>.panel-heading .head-overlay {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-view.panel .panel-body {
    padding: 15px 0 15px;
}

.card-view.panel.panel-default>.panel-heading {
    background: transparent;
}

.card-view.panel.panel-default.border-panel>.panel-heading,
.card-view.panel.panel-default.panel-tabs>.panel-heading {
    border-bottom: 1px solid #eee;
}

.card-view.panel.panel-default.border-panel .panel-body,
.card-view.panel.panel-default.panel-tabs .panel-body {
    padding-top: 15px;
}

.card-view.panel.panel-default.panel-tabs>.panel-heading {
    padding-bottom: 0;
}

.card-view.panel.panel-default.panel-tabs .nav-tabs {
    border-bottom: none;
}

.card-view.panel.panel-default.panel-tabs .nav-tabs>li>a {
    padding: 0 5px 15px;
    float: left;
}

.card-view.panel.panel-info .panel-body,
.card-view.panel.panel-success .panel-body,
.card-view.panel.panel-warning .panel-body,
.card-view.panel.panel-danger .panel-body,
.card-view.panel.panel-primary .panel-body,
.card-view.panel.panel-inverse .panel-body {
    padding-top: 15px;
}

.card-view.panel.fullscreen {
    height: 100%;
    left: 0;
    margin: 0;
    position: fixed;
    overflow-y: auto;
    top: 0;
    width: 100%;
    z-index: 1040;
}
.card-view.panel.fullscreen .fa-expand:before{
    content: "\f066";
}
.card-view.panel.fullscreen>.panel-heading .pull-right>a,
.card-view.panel.fullscreen>.panel-heading .pull-right .dropdown {
    opacity: 0;
    visibility: hidden;
}

.card-view.panel.fullscreen>.panel-heading .pull-right>a.full-screen,
.card-view.panel.fullscreen>.panel-heading .pull-right .dropdown.full-screen {
    opacity: 1;
    visibility: visible;
}

.card-view.panel.fullscreen>.panel-heading .pull-right>a.full-screen i.zmdi-fullscreen::before,
.card-view.panel.fullscreen>.panel-heading .pull-right .dropdown.full-screen i.zmdi-fullscreen::before {
    content: "\f16c";
}
.bheading-title{
    padding: 15px 0;
    margin:0 -24px 0px;
}
/*=============================================
=            breadcrumb css            =
=============================================*/

.breadcrumb {
    background-color: transparent;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 9px 0 0 0;
    font-size: 13px;
}

.breadcrumb a {
    color: #272B34;
    opacity: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}

.breadcrumb a:hover {
    opacity: 1;
    color: #1565c0;
}

.breadcrumb span {
    color: #1565c0;
}

.breadcrumb>li+li::before {
    color: #272B34;
    opacity: .5;
    font-family: FontAwesome;
    content: "\f105";
    padding: 0 9px;
}
.breadcrumb .dropdown > a {
    border: 1px solid #448aff;
    padding: 0 5px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}
.breadcrumb .dropdown > a:hover {
    background: #fff;
}
.bheading-title h5 {
    padding-top: 5px;
}
.breadcrumb span.active {
    color: #1565c0;
}
/*=============================================
=            Footer css            =
=============================================*/


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    left: 0;
    background: #fff;
}
footer a{
    color: #1565c0;
}
footer a:hover{
    opacity: 0.8;
}

footer .social a {
    display: inline-block;
    height: 25px;
    width: 25px;
    color:#727272;
    background: #eee;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    margin-left: 5px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}

footer .social a:hover,
footer .social a:focus,
footer .social a:active {
    background: #d3d3d3;
}

footer p {
    display: inline-block;
    font-size: 12px;
    line-height: 60px;
}

footer .brand {
    display: block;
    float: left;
    padding-top: 4px;
}

footer .navbar-nav>li>a {
    padding-bottom: 0;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: capitalize;
}

footer .nav>li>a:focus,
footer .nav>li>a:hover {
    background: transparent;
    opacity: .8;
}

.font-icon-detail span {
    border-radius: 0 !important;
}



.ms-container .ms-list {
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
}

/*Accordion*/

.accordion-struct.panel-group .panel {
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
    box-shadow: none;
}

.accordion-struct.panel-group .panel .panel-heading {
    border-radius: 0;
    padding: 0;
    background: rgba(33, 33, 33, 0.05);
    border-bottom: 1px solid #eee;
}

.accordion-struct.panel-group .panel .panel-heading.activestate {
    background: #ff6028;
    border-bottom: 1px solid #ff6028;
}

.accordion-struct.panel-group .panel .panel-heading.activestate a {
    color: #fff;
}

.accordion-struct.panel-group .panel .panel-heading a {
    color: #727272;
    text-transform: capitalize;
    padding: 10px 20px;
    width: 100%;
    display: block;
}

.accordion-struct.panel-group .panel:last-child .panel-heading {
    border-bottom: none;
}

.accordion-struct.panel-group .panel .panel-body {
    border: none;
}

/*Tooltip*/

.tooltip-inner {
    border-radius: 0;
    font-family: "Roboto", sans-serif;
    background: #272B34;
    white-space: nowrap;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #272B34;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #272B34;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #272B34;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #272B34;
} 


/*Panel*/

.panel-title>small {
    color: #727272;
    font-size: 14px;
}

.panel .panel-heading a {
    position: relative;
}

.panel .panel-heading a i {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.panel .panel-heading a i.zmdi-chevron-down {
    opacity: 1;
    position: absolute;
    top: 1px;
}

.panel .panel-heading a i.zmdi-chevron-up {
    opacity: 0;
}

.panel .panel-heading a.collapsed i.zmdi-chevron-down {
    opacity: 0;
}

.panel .panel-heading a.collapsed i.zmdi-chevron-up {
    opacity: 1;
}

.panel .panel-heading .pull-right i {
    font-size: 15px;
    color: #727272;
}

.panel .panel-heading .pull-right .dropdown i {
    font-size: 16px;
}

.panel .panel-heading .pull-right .dropdown i.caret-down {
    position: static;
    margin-left: 2px;
}

.panel .panel-heading .pull-right.right-float-sub-text {
    font-size: 11px;
    padding-top: 2px;
    text-transform: uppercase;
}

.panel .panel-footer {
    background-color: transparent;
    border-top: 1px solid #eee;
    margin: 0 -15px;
    padding: 5px 20px 0;
}

.panel-info>.panel-heading {
    background-color: #ed1b60;
}

.panel-danger>.panel-heading {
    background-color: #f83f37;
}

.panel-warning>.panel-heading {
    background-color: #ffbf36;
}

.panel-success>.panel-heading {
    background-color: #22af47;
}

.panel-primary>.panel-heading {
    background-color: #1565c0 ;
}

.panel-inverse>.panel-heading {
    background-color: #eee;
    color: #272B34 !important;
}

.well {
    border-radius: 0;
    box-shadow: none;
    padding: 20px;
}

.well.well-lg {
    padding: 25px;
}

.well.well-sm {
    padding: 15px;
}

/*Dropdown*/

.show-on-hover:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-menu {
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.175);
    z-index: 1;
    padding: 5px 0 0 0;
}

.dropdown-menu>li>a {
    color: #272B34;
    padding:5px 20px;
    cursor: pointer;
}

.dropdown-menu>li>a:hover {
    color: #272B34;
    background: rgba(33, 33, 33, 0.05);
}

.dropdown-menu>li>a i {
    color: #727272;
    font-size: 18px;
    margin-right: 10px;
    width: 18px;
    float: left;
}

.dropdown-menu>li.sub-menu {
    position: relative;
}

.dropdown-menu>li.sub-menu .dropdown-menu:before,
.dropdown-menu>li.sub-menu .dropdown-menu:after {
    display: none !important;
}

.dropdown-menu>li.sub-menu>ul {
    top: 0;
}

.dropdown-menu>li.sub-menu>ul.open-left-side {
    right: 100% !important;
}

.dropdown-menu>li.sub-menu>ul.open-right-side {
    left: 100% !important;
}

.dropdown-menu .divider {
    background-color: #eee;
}

.dropdown-menu>.active>a {
    background: #22af47;
}

.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background: #22af47;
}

.dropdown-menu.animated {
    -webkit-animation-duration: 0.55s;
    animation-duration: 0.55s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
} 



/*Sparkline*/
.jqstooltip {
    width: auto !important;
    height: auto !important;
    background: #212121 !important;
    border: none !important;
}

.sparkline canvas {
    width: 100% !important;
}


/*Pagination*/

.pagination>li>a,
.pagination>li>span {
    border-color: #eee;
    border-radius: 0 !important;
    color: #666;
    border-color: transparent;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li>span:hover,
.pagination>li>span:focus,
.pagination>li>span:active {
    border-color: transparent;
    background-color: #eee;
}

.pagination>li.active>a,
.pagination>li.active>span {
    background: #243f6b;
    border-color: transparent;
}

.pagination>li.active>a:hover,
.pagination>li.active>a:focus,
.pagination>li.active>a:active,
.pagination>li.active>span:hover,
.pagination>li.active>span:focus,
.pagination>li.active>span:active {
    background: #243f6b;
    border-color: transparent;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    border-color: transparent;
    color: #666;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background: #243f6b;
    color: #fff;
}


/*Pager*/

.pager li>a,
.pager li>span {
    border: 1px solid #eee;
    border-radius: 0;
}


/*Labels*/

.label,
.jvectormap-tip {
    padding: 3px 6px 3px;
    font-size: 11px;
    border-radius: 50px;
    text-transform: capitalize;
    font-weight: 400;
}

.label.label-info,
.label-info.jvectormap-tip {
    background: #ed1b60;
}

.label.label-primary,
.label-primary.jvectormap-tip {
    background: #1565c0 ;
}

.label.label-success,
.label-success.jvectormap-tip {
    background: #22af47;
}

.label.label-danger,
.label-danger.jvectormap-tip {
    background: #f83f37;
}

.label.label-warning,
.label-warning.jvectormap-tip {
    background: #ffbf36;
}

.label.label-outline,
.label-outline.jvectormap-tip {
    background: transparent;
    color: #727272;
    border: 1px solid;
}

.label.label-outline.label-info,
.label-outline.label-info.jvectormap-tip {
    border-color: #ed1b60;
}

.label.label-outline.label-primary,
.label-outline.label-primary.jvectormap-tip {
    border-color: #1565c0 ;
}

.label.label-outline.label-success,
.label-outline.label-success.jvectormap-tip {
    border-color: #22af47;
}

.label.label-outline.label-danger,
.label-outline.label-danger.jvectormap-tip {
    border-color: #f83f37;
}

.label.label-outline.label-warning,
.label-outline.label-warning.jvectormap-tip {
    border-color: #ffbf36;
}

/*Task Panel*/

.task-panel a.list-group-item {
    background-color: transparent;
    color: #272B34;
    border-color: #eee;
    border-image: none;
    border-radius: 0 !important;
    border-style: solid none;
    border-width: 1px medium;
    border-bottom: none;
    padding: 15px;
}

.task-panel a.list-group-item i {
    color: #727272;
    padding-right: 10px;
    font-size: 18px;
    width: 25px;
    line-height: 24px;
}

.task-panel a.list-group-item:first-child {
    border-top: none;
}

.task-panel a.list-group-item:hover {
    background: rgba(33, 33, 33, 0.05);
}
.navbar .mobile-only-brand .nav-header .logo-wrap .brand__mb {
    display: none;
}





/*Error Page*/

.error-page .brand-text {
    color: #272B34;
}

.error-head {
    font-size: 112px;
    font-style: italic;
    line-height: 112px;
}

.error-bg-img {
    background: url("../../../img/errorbg.jpg");
    background-size: cover;
} 


/** Mediaqueries **/
@media (min-width: 1401px) {
    .icon-only-nav .navbar .nav-header {
        width: 50px;
    }
    .icon-only-nav .navbar .nav-header .logo-wrap .brand-text {
        opacity: 0;
        visibility: hidden;
    }
    .icon-only-nav .navbar .nav-header .logo-wrap img {
        width: 30px;
        top: 0;
    }
    .icon-only-nav.sidebar-hover .navbar .nav-header {
        width: 250px;
    }
    .icon-only-nav.sidebar-hover .navbar .nav-header .logo-wrap .brand-text {
        opacity: 1;
        visibility: visible;
    }
    .icon-only-nav.sidebar-hover .navbar .nav-header .logo-wrap img {
        width: auto;
        top: 3px;
    }
    .icon-only-nav .fixed-sidebar-left {
        width: 50px;
    }
    .icon-only-nav .fixed-sidebar-left .side-nav li.navigation-header>span {
        display: none;
    }
    .icon-only-nav .fixed-sidebar-left .side-nav li.navigation-header>hr {
        display: block;
    }
    .icon-only-nav .fixed-sidebar-left .side-nav .documentation-btn {
        width: 30px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 -5px;
    }
    .icon-only-nav .fixed-sidebar-left .side-nav .documentation-btn .doc-large-btn {
        display: none;
    }
    .icon-only-nav .fixed-sidebar-left .side-nav .documentation-btn .doc-small-btn {
        display: inline-block;
    }
    .icon-only-nav .fixed-sidebar-left .collapse.in {
        display: none;
    }
    .icon-only-nav .fixed-sidebar-left:hover {
        width: 250px;
    }
    .icon-only-nav .fixed-sidebar-left:hover .side-nav .documentation-btn {
        width: auto;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin: 0;
    }
    .icon-only-nav .fixed-sidebar-left:hover .side-nav .documentation-btn .doc-large-btn {
        display: inline-block;
    }
    .icon-only-nav .fixed-sidebar-left:hover .side-nav .documentation-btn .doc-small-btn {
        display: none;
    }
    .icon-only-nav .fixed-sidebar-left:hover .side-nav li.navigation-header>span {
        display: block;
    }
    .icon-only-nav .fixed-sidebar-left:hover .side-nav li.navigation-header>hr {
        display: none;
    }
    .icon-only-nav .fixed-sidebar-left:hover .collapse.in {
        display: block;
    }
    .icon-only-nav .fixed-sidebar-left:hover .right-nav-text {
        opacity: 1;
    }
    .icon-only-nav .fixed-sidebar-left .right-nav-text {
        opacity: 0;
    }
    .icon-only-nav .page-wrapper {
        margin-left: 50px;
    }
    .icon-only-nav.slide-nav-toggle .fixed-sidebar-left {
        width: 250px;
    }
    .icon-only-nav.slide-nav-toggle .fixed-sidebar-left .side-nav li.navigation-header>span {
        display: block;
    }
    .icon-only-nav.slide-nav-toggle .fixed-sidebar-left .side-nav li.navigation-header>hr {
        display: none;
    }
    .icon-only-nav.slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn {
        width: auto;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin: 0;
    }
    .icon-only-nav.slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn .doc-large-btn {
        display: inline-block;
    }
    .icon-only-nav.slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn .doc-small-btn {
        display: none;
    }
    .icon-only-nav.slide-nav-toggle .fixed-sidebar-left .collapse.in {
        display: block;
    }
    .icon-only-nav.slide-nav-toggle .fixed-sidebar-left .right-nav-text {
        opacity: 1;
    }
    .icon-only-nav.slide-nav-toggle .page-wrapper {
        margin-left: 250px;
        left: 0;
    }
    .icon-only-nav.slide-nav-toggle .navbar .nav-header {
        width: 250px;
    }
    .icon-only-nav.slide-nav-toggle .navbar .nav-header .logo-wrap .brand-text {
        opacity: 1;
        visibility: visible;
    }
    .icon-only-nav.slide-nav-toggle .navbar .nav-header .logo-wrap img {
        width: auto;
        top: 3px;
    }
}

@media (max-width: 1400px) {
    .fixed-sidebar-left {
        width: 50px;
    }
    .fixed-sidebar-left .side-nav li.navigation-header>span {
        display: none;
    }
    .fixed-sidebar-left .side-nav li.navigation-header>hr {
        display: block;
    }
    .fixed-sidebar-left .side-nav .documentation-btn {
        width: 30px;
        padding-left: 0 !important;
        padding-right: 0px !important;
        margin: 0 -5px;
    }
    .fixed-sidebar-left .side-nav .documentation-btn .doc-large-btn {
        display: none;
    }
    .fixed-sidebar-left .side-nav .documentation-btn .doc-small-btn {
        display: inline-block;
    }
    .fixed-sidebar-left .collapse.in {
        display: none;
    }
    .fixed-sidebar-left:hover {
        width: 250px;
    }
    .fixed-sidebar-left:hover .side-nav li.navigation-header>span {
        display: block;
    }
    .fixed-sidebar-left:hover .side-nav li.navigation-header>hr {
        display: none;
    }
    .fixed-sidebar-left:hover .side-nav .documentation-btn {
        width: auto;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin: 0;
    }
    .fixed-sidebar-left:hover .side-nav .documentation-btn .doc-large-btn {
        display: inline-block;
    }
    .fixed-sidebar-left:hover .side-nav .documentation-btn .doc-small-btn {
        display: none;
    }
    .fixed-sidebar-left:hover .collapse.in {
        display: block;
    }
    .fixed-sidebar-left:hover .right-nav-text {
        opacity: 1;
    }
    .fixed-sidebar-left .right-nav-text {
        opacity: 0;
    }
    .page-wrapper {
        margin-left: 50px;
    }

    /* .navbar .nav-header .logo-wrap .brand-text {
        opacity: 0;
        visibility: hidden;
    } */
    .navbar .nav-header .logo-wrap img.brand-img {
        display: inline-block;
    }
    .navbar .nav>li .dropdown-menu.mega-menu {
        width: calc(100% - 100px);
    }
    .sidebar-hover .navbar .nav-header {
        width: 250px;
    }
    /* .sidebar-hover .navbar .nav-header .logo-wrap .brand-text {
        opacity: 1;
        visibility: visible;
    } */
    .sidebar-hover .navbar .nav-header .logo-wrap img.brand-img {
        display: none;
    }
    .slide-nav-toggle .fixed-sidebar-left {
        width: 250px;
    }

    .slide-nav-toggle .fixed-sidebar-left .side-nav li.navigation-header>span {
        display: block;
    }
    .slide-nav-toggle .fixed-sidebar-left .side-nav li.navigation-header>hr {
        display: none;
    }
    .slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn {
        width: auto;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin: 0;
    }
    .slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn .doc-large-btn {
        display: inline-block;
    }
    .slide-nav-toggle .fixed-sidebar-left .side-nav .documentation-btn .doc-small-btn {
        display: none;
    }
    .slide-nav-toggle .fixed-sidebar-left .collapse.in {
        display: block;
    }
    .slide-nav-toggle .fixed-sidebar-left .right-nav-text {
        opacity: 1;
    }
    .slide-nav-toggle .page-wrapper {
        margin-left: 0;
        left: 250px;
    } 
    .slide-nav-toggle .navbar .nav-header {
        width: 250px;
    }
    .slide-nav-toggle .navbar .nav-header .logo-wrap .brand-text {
        opacity: 1;
        visibility: visible;
    }
    .slide-nav-toggle .navbar .nav-header .logo-wrap img.brand-img {
        display: none;
    }
}



@media (min-width: 1200px) {
    .mobile-only-nav.collapse{
        display: block;
        height: auto !important;
    }

    .horizontal-nav .navbar .nav-header {
        width: 250px;
    }

    .horizontal-nav .navbar .nav-header .logo-wrap .brand-text {
        opacity: 1;
        visibility: visible;
    }
    .horizontal-nav .fixed-sidebar-left {
        width: 100%;
        bottom: inherit;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        border-bottom: 1px solid #dee2e6;
        box-shadow: none;
        background: #fff;
    }
    .horizontal-nav .fixed-sidebar-left .side-nav>li>ul>li a,
    .horizontal-nav .fixed-sidebar-left .side-nav>li>ul>li>ul>li a {
        padding-left: 15px;
    }
    .horizontal-nav .fixed-sidebar-left .collapse.in,
    .horizontal-nav .fixed-sidebar-left .collapsing {
        display: none;
    }
    .horizontal-nav .fixed-sidebar-left:hover {
        width: 100%;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv {
        overflow: visible !important;
        max-width: 1280px;
        margin: auto;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv .slimScrollBar {
        display: none !important;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul {
        overflow: visible !important;
        width: 100% !important;
        height: auto !important;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul>li {
        width: auto;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul>li.navigation-header {
        display: none;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul>li:hover>ul.collapse.in {
        display: block;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul>li>a {
        text-align: center;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul>li>a>i {
        display: block;
        margin-bottom: 10px;
        margin-right: 0 !important;
    }
    /*    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul>li>a>.pull-right {
            display: none;
        }*/
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul li {
        position: relative;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1 {
        background: #fff;
        height: auto !important;
        left: 0;
        width: 250px;
        position: absolute !important;
        z-index: 1;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1.two-col-list {
        width: 500px;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1 li {
        float: left;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1 li>a i:before {
        content: "\e649";
    }
    /*    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1 li>ul {
            background: #fff;
            left: 250px;
            width: 250px;
            position: absolute;
            top: 0;
            z-index: 1;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }*/
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1 li>ul.two-col-list {
        width: 500px;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul>li:hover>ul {
        display: block;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul>li>ul>li:hover>ul {
        display: block;
        height: auto !important;
    }
    .horizontal-nav .fixed-sidebar-left .right-nav-text {
        opacity: 1;
    }
    .horizontal-nav.slide-nav-toggle .page-wrapper {
        margin-left: 0;
        padding-top: 85px;
    }
    .horizontal-nav.slide-nav-toggle .fixed-sidebar-left {
        width: 100%;
    }
    .horizontal-nav.slide-nav-toggle .fixed-sidebar-left:hover {
        width: 100%;
    }

}

@media (min-width: 1025px) and (max-width: 1300px) {
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1.dr-change-pos {
        left: auto;
        right: 0;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1 li>ul.dr-change-pos {
        left: -250px;
    }
    .horizontal-nav .fixed-sidebar-left>.slimScrollDiv>ul .collapse-level-1 li>ul.dr-change-pos.two-col-list {
        left: -500px;
    }
}

@media (max-width: 1200px) {
    .horizontal-nav .page-wrapper {
        padding-top: 0px;
    }
    .horizontal-nav a.toggle-left-nav-btn{
        visibility: visible;
        opacity: 1;;
    }

    .mobile-only-view {
        display: block !important;
    }
    .fixed-sidebar-left {
        margin-left: -250px;
        width: 250px;
        top: 66px;
    }
    .fixed-sidebar-left .side-nav li.navigation-header>span {
        display: block;
    }
    .fixed-sidebar-left .side-nav li.navigation-header>hr {
        display: none;
    }
    .fixed-sidebar-left .side-nav>li>a {
        padding: 12px 15px;
    }
    .fixed-sidebar-left .side-nav>li>ul>li a {
        padding: 12px 15px;
    }
    .fixed-sidebar-left .side-nav .documentation-btn {
        width: auto;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin: 0;
    }
    .fixed-sidebar-left .side-nav .documentation-btn .doc-large-btn {
        display: inline-block;
    }
    .fixed-sidebar-left .side-nav .documentation-btn .doc-small-btn {
        display: none;
    }
    .fixed-sidebar-left .right-nav-text {
        opacity: 1;
    }
    .fixed-sidebar-right {
        top: 66px;
    }
    .mobile-nav-open .fixed-sidebar-left {
        top: 132px;
    }
    .page-wrapper {
        margin-left: 0;
        padding: 66px 0;
    }
    .slide-nav-toggle .fixed-sidebar-left {
        margin-left: 0;
    }

    .slide-nav-toggle .page-wrapper {
        left: 250px;
        margin-left: 0;
    }
    .slide-nav-toggle.sidebar-hover .navbar .nav-header {
        width: 325px;
    }
    .navbar {
        padding: 0;
        min-height: 66px;
    }

    .navbar .nav>li>a {
        line-height: 66px;
    }
    .navbar .nav.top-nav>li>a .top-nav-icon-badge {
        top: 16px;
    }
    .navbar .nav>li>a .user-online-status {
        bottom: 10px;
    }
    .navbar .mobile-only-brand {
        width: 100%;
    }
    .navbar .mobile-only-brand .nav-header {
        padding-left: 0;
        text-align: center;
        width: 325px;
        height: 66px;
    }
    .navbar .mobile-only-brand .nav-header .logo-wrap {

        text-align: left;
        padding-left: 70px;
        padding-top: 11px;
    }
    .navbar .mobile-only-brand .nav-header .logo-wrap .brand-text {
        opacity: 1;
        visibility: visible;
    }
    .navbar .mobile-only-brand .nav-header .logo-wrap img.brand-img {
        display: none;
    }
    .navbar a.toggle-left-nav-btn {
        left: 15px;
        position: absolute;
        top: -8px;
    }
    .navbar a.toggle-left-nav-btn,
    .navbar a#toggle_mobile_nav,
    .navbar a#toggle_mobile_search {
        line-height: 66px;
    }
    .navbar a#toggle_mobile_nav {
        position: absolute;
        right: 21px;
        top: 0;
    }
    .navbar a#toggle_mobile_search {
        position: absolute;
        right: 50px;
        top: 0;
    }
    .navbar .mobile-only-brand {
        position: relative;
        z-index: 2;
    }
    .navbar .mobile-only-nav {
        float: left;
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        transition: 0.4s ease;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 15px;
        z-index: 10;
    }

    .mobile-nav-open .navbar .mobile-only-nav {
        top: 66px;
    }
    .navbar .free__trail--number {
        font-size: 45px;
    }
    .navbar .top-nav .free__trail {
        margin-top: 15px;
    }
    .flag__header .btn-group.bootstrap-select {margin-top: 20px !important;}
}

@media (max-width: 950px) {
    .panel-dropdown .panel-heading>.pull-right .dropdown-menu-right {
        left: 0;
        right: auto;
    }
}

@media (max-width: 796px) {
    footer.footer .col-sm-5 {
        display: none;
    }
    footer.footer .col-sm-7 {
        width: 100%;
        text-align: center !important;
    }
}

@media (max-width: 767px) {
    .breadcrumb {
        display: none;
    }
    .footer .col-sm-6.text-right {
        display: none;
    }
}

@media (max-width: 600px) {
    .product-detail-wrap {
        margin-top: 30px;
    }
    .product-detail-wrap .btn-group {
        margin-top: 20px;
        width: 100%;
    }
    .product-detail-description ul li {
        width: 100%;
    }
    .product-detail-description ul li a {
        padding-left: 0 !important;
    }

}


@media (max-width: 565px) {
    .navbar .nav>li .dropdown-menu.alert-dropdown {
        width: 100%;
        min-width: 360px;
    }
    .navbar .mobile-only-brand .nav-header .logo-wrap .brand__mb {
        display: inline-block;
    }
    .navbar .mobile-only-brand .nav-header .logo-wrap .brand__pc {
        display: none;
    }
}

.horizontal-nav .navbar .nav-header .logo-wrap img {
    max-width: 100%;
    top: 3px;
    height: 50px;
}
